<?php echo $header; ?>

<div class="slider-wrapper">
    <div class="center-wrapper">
        <?php echo $content_top; ?>
    </div>
</div>
<div class="separator-line"></div>
<?php echo $content_bottom; ?>
<div class="center-wrapper">
<?php echo $content_bottom2; ?>
</div>
<?php echo $footer; ?>
