<?php echo $header; ?><?php echo $column_left; ?>
<div id="content">
    <div class="page-header">
        <div class="container-fluid">
            <div class="pull-right">
                <div class="buttons btn btn-default"><a onclick="parselink();" class="button parser_start"><span>парсить ссылки</span></a></div>
				 <div class="buttons btn btn-default"><a onclick="parselink2();" class="button parser_start"><span>парсить ссылки 2</span></a></div>
				 				 <div class="buttons btn btn-default"><a onclick="parselink('<?php echo $potok; ?>');" class="button parser_start"><span>парсить ссылки поток3</span></a></div>

            </div>
            <h1><?php echo $heading_title; ?></h1>
            <ul class="breadcrumb">
                <?php foreach ($breadcrumbs as $breadcrumb) { ?>
                    <li><a href="<?php echo $breadcrumb['href']; ?>"><?php echo $breadcrumb['text']; ?></a></li>
                <?php } ?>
            </ul>
        </div>
    </div>
    <div class="container-fluid">
        <?php if ($error_warning) { ?>
            <div class="alert alert-danger"><i class="fa fa-exclamation-circle"></i> <?php echo $error_warning; ?>
                <button type="button" class="close" data-dismiss="alert">&times;</button>
            </div>
        <?php } ?>
        <?php if ($success) { ?>
            <div class="alert alert-success"><i class="fa fa-check-circle"></i> <?php echo $success; ?>
                <button type="button" form="form-backup" class="close" data-dismiss="alert">&times;</button>
            </div>
        <?php } ?>
        <div class="content">
            <div id="status"> </div>
        </div>
    </div>
</div>
<?php echo $footer; ?>
<script type="text/javascript"><!--
    function parselink(potok) {
		var potok = potok;
		if (potok) {
   
		} else {
		var potok = 0;
		}
		
		console.log('potok');
		
        $.ajax({
            url:"index.php?route=tool/parser/parselink&potok="+ potok +"&token=<?php echo $token; ?>",
            dataType: 'json',
            type: 'POST',
            beforeSend: function() {
                $('.parser_start').attr('disabled', true);
               // $('#status').after('<span class="wait">&nbsp;<img src="/catalog/view/theme/default/image/loading2.gif" alt="" /></span>');

            },
            complete: function() {
                $('.parser_start').attr('disabled', false);

            },
            success:function(json){
                $('.wait').remove();
                $('#status .parser_info').remove();
                $('#status').prepend('<div class="parser_info">' + json['url_id'] + 'Найдено страниц:' + json['total_links'] + ' Обработано:'+ json['total_links_parse'] + '</div>');
                if(json['url_id']=='start')
                {

                    parselinknotstart (json['url_id'], potok);
                    //function() { parselinknotstart(json['url_id']); alert ('ddd'); };



                }
            },
            error: function(xhr, ajaxOptions, thrownError) {

                alert(thrownError + "\r\n" + xhr.statusText + "\r\n" + xhr.responseText);
            }
        })
    }

    function parselinknotstart(url_id,potok) {
        var url_id = url_id;
		var potok = potok;

        $.ajax({
            url:"index.php?route=tool/parser/parselink&url_id="+ url_id +"&potok="+ potok +"&token=<?php echo $token; ?>",
            type: 'GET',
            dataType: 'json',
            beforeSend: function() {
                //alert(next);
                $('.parser_start').attr('disabled', true);
               // $('#status').after('<span class="wait">&nbsp;<img src="/catalog/view/theme/default/image/loading2.gif" alt="" /></span>');
            },
            complete: function() {
                $('.parser_start').attr('disabled', false);

            },
            success:function(json){
                $('#status .parser_info').remove();
                $('.wait').remove();
                //alert(url_id);
                $('#status').prepend('<div class="parser_info">' + json['url_id'] + 'Найдено страниц:' + json['total_links'] + ' Обработано:'+ json['total_links_parse'] + '<br>1-'+ json['second'] +'s<br>'+ '<br>2-'+ json['second2'] +'s<br>'+ '<br>3-'+ json['second3'] +'s<br>'+ json['url'] +'</div>');
                if (json['url_id']!='') { setInterval(parselinknotstart(json['url_id'], potok) , 500);

                }
            },
            error: function(xhr, ajaxOptions, thrownError) {
				setInterval(parselink() , 500);
				console.log (thrownError + "\r\n" + xhr.statusText + "\r\n" + xhr.responseText);
               // alert(thrownError + "\r\n" + xhr.statusText + "\r\n" + xhr.responseText);
            }
        })
    }
	
	
	
	
	
	
	  function parselink2() {
        $.ajax({
            url:"index.php?route=tool/parser/parselink2&token=<?php echo $token; ?>",
            dataType: 'json',
            type: 'POST',
            beforeSend: function() {
                $('.parser_start').attr('disabled', true);
               // $('#status').after('<span class="wait">&nbsp;<img src="/catalog/view/theme/default/image/loading2.gif" alt="" /></span>');

            },
            complete: function() {
                $('.parser_start').attr('disabled', false);

            },
            success:function(json){
                $('.wait').remove();
                $('#status .parser_info').remove();
                $('#status').prepend('<div class="parser_info">' + json['url_id'] + 'Найдено страниц:' + json['total_links'] + ' Обработано:'+ json['total_links_parse'] + '</div>');
                if(json['url_id']=='start')
                {

                    parselinknotstart2 (json['url_id']);
                    //function() { parselinknotstart(json['url_id']); alert ('ddd'); };



                }
            },
            error: function(xhr, ajaxOptions, thrownError) {

                alert(thrownError + "\r\n" + xhr.statusText + "\r\n" + xhr.responseText);
            }
        })
    }

    function parselinknotstart2(url_id) {
        var url_id = url_id;
        $.ajax({
            url:"index.php?route=tool/parser/parselink2&url_id="+ url_id +"&token=<?php echo $token; ?>",
            type: 'GET',
            dataType: 'json',
            beforeSend: function() {
                //alert(next);
                $('.parser_start').attr('disabled', true);
               // $('#status').after('<span class="wait">&nbsp;<img src="/catalog/view/theme/default/image/loading2.gif" alt="" /></span>');
            },
            complete: function() {
                $('.parser_start').attr('disabled', false);

            },
            success:function(json){
                $('#status .parser_info').remove();
                $('.wait').remove();
                //alert(url_id);
                $('#status').prepend('<div class="parser_info">' + json['url_id'] + 'Найдено страниц:' + json['total_links'] + ' Обработано:'+ json['total_links_parse'] + '<br>1-'+ json['second'] +'s<br>'+ '<br>2-'+ json['second2'] +'s<br>'+ '<br>3-'+ json['second3'] +'s<br>'+ json['url'] +'</div>');
                if (json['url_id']!='') { setInterval(parselinknotstart2(json['url_id']) , 500);

                }
            },
            error: function(xhr, ajaxOptions, thrownError) {
				setInterval(parselink2() , 500);
				console.log (thrownError + "\r\n" + xhr.statusText + "\r\n" + xhr.responseText);
               // alert(thrownError + "\r\n" + xhr.statusText + "\r\n" + xhr.responseText);
            }
        })
    }
	
	
	


    //--></script>



