body{
    background: url('slider-bg.png');
    font-family: PTSans
}
header{
    background-color: white;
    margin-top: 0px;
    padding: 12px 0px;
    border-bottom: 2px solid #d8d8d8;
}
header .info{
    padding-top: 5px;
}
header .info .supportlink{
    font-size: 14px;
    color: #2d2d2d;
    text-decoration: none;
}
.invoice-line{
    background-color: transparent;
    margin-top: 0px;
    text-align: center;
}
.invoice-line .container{
    border-bottom: 1px dashed #979797;
}
.invoice-line .invoice-info, .invoice-line .invoice-summ, .invoice-line .invoice-from, .invoice-line .invoice-summ .summ{
    color: #2d2d2d;
    font-family: PTSans
}
.invoice-line .invoice-info{
    margin-bottom: 10px;
    margin-top: 12px;
    font-size: 18px;
    font-weight: bold;
}
.invoice-line .invoice-summ{
    font-size: 24px;
    font-weight: bold;
}
.invoice-line .invoice-summ .summ{
    font-size: 24px;
}
.invoice-line .invoice-from{
    font-size: 16px;
    font-weight: normal;
    margin-top: 10px;
}
.pay_big{
    font-size: 20px;
    font-weight: bold;
    text-align: center;
    color: #2d2d2d;
    margin-top: 10px;
}
.pay_small{
    font-size: 16px;
}
.card_block{
    width: 430px;
    margin: 0 auto;
    float: none;
    margin-top: 15px;
}
.card_block > div{
    width: 100%;
    padding: 0px;
}
.card_block_submit{
    width: 430px;
    margin: 0 auto;
    float: none;
}
.card_block_submit .textinput{
    padding: 0px;
}
.invoice-line .col-md-12{
    min-height: 150px;
    padding: 20px 230px;
}
.invoice-line .col-md-12:after{
    content: '';
    background: url("logo2.png") no-repeat;
    background-position: 0 0px;
    left: 10px;
    top: 10px;
    height: 130px;
    width: 220px;
    display: block;
    position: absolute;
}
.btn{
    background-color: #62c081 !important;
    color: white;
    transition: 0.3s;
    border-radius: 10px;
    font-size: 18px;
    font-weight: bold;
    color: #ffffff;
    text-transform: uppercase;
}
.btn:hover{
    color: white;
    background-color: #4d9665 !important;
    transition: 0.3s;
}
.form-control{
    border-radius: 10px;
    background-color: #ffffff;
    box-shadow: 1px 1px 5px 0 rgba(117, 117, 117, 0.5);
    border: solid 1px #d9d9d9;
}
.help-cvc2{
    white-space: nowrap;
}
.textinput{
    margin-bottom: 25px;
}
.input-help{
    font-size: 13px;
    font-style: italic;
    color: #838383;
    padding-left: 15px;
    text-align: left;
    display: inline-block;
    margin-top: 5px;
}
.help-card{
    float: left;
}
.footer .container{
    border-top:  1px dashed #979797;
    padding-top: 40px;
    padding-bottom: 20px;
}
.footer{
    margin-top: 30px;
}

@media screen and (max-width: 767px){
    .invoice-line .col-md-12:after{
        display: none;
    }
    .invoice-line .col-md-12{
        padding: 10px;
    }
    .help-cvc2 {
        white-space: inherit;
    }
    .card_block, .card_block_submit{
        max-width: 100%;
    }
}