<?php
/**
 * Модуль оплаты через ЗАО "РФИ БАНК" https://tran.ru,
 */
?>
<?php echo $header; ?>  <?php echo $column_left; ?>
<div id="content">
  <div class="page-header">
    <div class="container-fluid">
      <div class="pull-right">
        <button type="submit" form="form-tran" data-toggle="tooltip" title="<?php echo $button_save; ?>" class="btn btn-primary"><i class="fa fa-save"></i></button>
        <a href="<?php echo $cancel; ?>" data-toggle="tooltip" title="<?php echo $button_cancel; ?>" class="btn btn-default"><i class="fa fa-reply"></i></a></div>
      <h1><?php echo $heading_title; ?></h1>
      <ul class="breadcrumb">
        <?php foreach ($breadcrumbs as $breadcrumb) { ?>
        <li><a href="<?php echo $breadcrumb['href']; ?>"><?php echo $breadcrumb['text']; ?></a></li>
        <?php } ?>
      </ul>
    </div>
  </div>
  <?php if ($error_warning) { ?>
  <div class="warning"><?php echo $error_warning; ?></div>
  <?php } ?>
  <div class="container-fluid">
     <div class="panel-body">
      <form action="<?php echo $action; ?>" method="post" enctype="multipart/form-data" id="form-tran">
        <table class="form">
          <tr>
            <td><span class="required">*</span> <?php echo $entry_tran_name; ?></td>
            <td><input type="text" name="tran_name" value="<?php echo $tran_name; ?>" />
              <?php if (isset($_error['tran_name'])) { ?>
              <span class="error"><?php echo $_error['tran_name']; ?></span>
              <?php } ?></td>
          </tr>

          <tr>
            <td> <?php echo $entry_tran_callback; ?></td>
            <td><?php echo HTTP_CATALOG.'index.php?route=payment/tran/callback'; ?></td>
          </tr>
          <tr>
            <td> <?php echo $entry_tran_result; ?></td>
            <td><?php echo HTTP_CATALOG.'index.php?route=checkout/success'; ?></td>
          </tr>

          <tr>
            <td><span class="required">*</span> <?php echo $entry_tran_guid; ?></td>
            <td><input type="text" name="tran_guid" value="<?php echo $tran_guid; ?>" />
              <?php if (isset($_error['tran_guid'])) { ?>
              <span class="error"><?php echo $_error['tran_guid']; ?></span>
              <?php } ?></td>
          </tr>
          
          
          <tr>
          </tr>
          
          <tr>
            <td><span class="required">*</span> <?php echo $entry_tran_pwd; ?></td>
            <td><input type="text" name="tran_pwd" value="<?php echo $tran_pwd; ?>" />
              <?php if (isset($_error['tran_pwd'])) { ?>
              <span class="error"><?php echo $_error['tran_pwd']; ?></span>
              <?php } ?></td>
          </tr>        
          <tr>
            <td><?php echo $entry_tran_order_status_id; ?></td>
            <td><select name="tran_order_status_id">
                <?php foreach ($order_statuses as $order_status) { ?>
                <?php if ($order_status['order_status_id'] == $tran_order_status_id) { ?>
                <option value="<?php echo $order_status['order_status_id']; ?>" selected="selected"><?php echo $order_status['name']; ?></option>
                <?php } else { ?>
                <option value="<?php echo $order_status['order_status_id']; ?>"><?php echo $order_status['name']; ?></option>
                <?php } ?>
                <?php } ?>
              </select></td>
          </tr>
          
          
          <tr>
            <td><?php echo $entry_tran_status; ?></td>
            <td><select name="tran_status">
                <?php if ($tran_status) { ?>
                <option value="1" selected="selected"><?php echo $lang->get('text_enabled'); ?></option>
                <option value="0"><?php echo $lang->get('text_disabled'); ?></option>
                <?php } else { ?>
                <option value="1"><?php echo $lang->get('text_enabled'); ?></option>
                <option value="0" selected="selected"><?php echo $lang->get('text_disabled'); ?></option>
                <?php } ?>
              </select></td>
          </tr>
          <tr>
            <td><?php echo $entry_tran_sort_order; ?></td>
            <td><input type="text" name="tran_sort_order" value="<?php echo $tran_sort_order; ?>" size="1" /></td>
          </tr>
        </table>
      </form>
    </div>
  </div>
</div>
<?php echo $footer; ?>
