<?php echo $header; ?>
    <div class="container">
        <div class="buttons btn btn-default"><a onclick="parselink2();" class="button parser_start"><span>парсить ссылки </span></a></div>
        <div class="buttons btn btn-default"><a onclick="parselink_revers();" class="button parser_start"><span>парсить ссылки пустые </span></a></div>
        <div class="buttons btn btn-default"><a onclick="parselink_revers2();" class="button parser_start"><span>парсить ссылки пустые 2</span></a></div>
    <div id="status"></div>
    </div>
<?php echo $footer; ?>
<script type="text/javascript"><!--

    function parselink2() {
        $.ajax({
            url:"index.php?route=tool/parser/parserelevantLink",
            dataType: 'json',
            type: 'POST',
            beforeSend: function() {
                $('.parser_start').attr('disabled', true);
                // $('#status').after('<span class="wait">&nbsp;<img src="/catalog/view/theme/default/image/loading2.gif" alt="" /></span>');

            },
            complete: function() {
                $('.parser_start').attr('disabled', false);

            },
            success:function(json){
                $('.wait').remove();
                $('#status .parser_info').remove();
                $('#status').prepend('<div class="parser_info"> Обработан: ' + json['url'] +  ' <br>Результат: '+ json['destination_url']+'</div>');
                if(json['run']=='run')
                {
                    setInterval(parselink2() , 500);

                } else {
                    $('#status').prepend('<div class="parser_info">Обработка окончена</div>');
                }
            },
            error: function(xhr, ajaxOptions, thrownError) {

                alert(thrownError + "\r\n" + xhr.statusText + "\r\n" + xhr.responseText);
            }
        })
    }
    function parselink_revers() {
        $.ajax({
            url:"index.php?route=tool/parser/parserelevantLink_revers",
            dataType: 'json',
            type: 'POST',
            beforeSend: function() {
                $('.parser_start').attr('disabled', true);
                // $('#status').after('<span class="wait">&nbsp;<img src="/catalog/view/theme/default/image/loading2.gif" alt="" /></span>');

            },
            complete: function() {
                $('.parser_start').attr('disabled', false);

            },
            success:function(json){
                $('.wait').remove();
                $('#status .parser_info').remove();
                $('#status').prepend('<div class="parser_info"> Обработан: ' + json['url'] +  ' <br>Результат: '+ json['destination_url']+'</div>');
                if(json['run']=='run')
                {
                    setInterval(parselink_revers() , 500);

                } else {
                    $('#status').prepend('<div class="parser_info">Обработка окончена</div>');
                }
            },
            error: function(xhr, ajaxOptions, thrownError) {

                alert(thrownError + "\r\n" + xhr.statusText + "\r\n" + xhr.responseText);
            }
        })
    }
    function parselink_revers2() {
        $.ajax({
            url:"index.php?route=tool/parser/parserelevantLink_revers2",
            dataType: 'json',
            type: 'POST',
            beforeSend: function() {
                $('.parser_start').attr('disabled', true);
                // $('#status').after('<span class="wait">&nbsp;<img src="/catalog/view/theme/default/image/loading2.gif" alt="" /></span>');

            },
            complete: function() {
                $('.parser_start').attr('disabled', false);

            },
            success:function(json){
                $('.wait').remove();
                $('#status .parser_info').remove();
                $('#status').prepend('<div class="parser_info"> Обработан: ' + json['url'] +  ' <br>Результат: '+ json['destination_url']+'</div>');
                if(json['run']=='run')
                {
                    setInterval(parselink_revers2() , 500);

                } else {
                    $('#status').prepend('<div class="parser_info">Обработка окончена</div>');
                }
            },
            error: function(xhr, ajaxOptions, thrownError) {

                alert(thrownError + "\r\n" + xhr.statusText + "\r\n" + xhr.responseText);
            }
        })
    }

    function parselinknotstart2(url_id) {
        var url_id = url_id;
        $.ajax({
            url:"index.php?route=tool/parser/parselink2&url_id="+ url_id +"&token=<?php echo $token; ?>",
            type: 'GET',
            dataType: 'json',
            beforeSend: function() {
                //alert(next);
                $('.parser_start').attr('disabled', true);
                // $('#status').after('<span class="wait">&nbsp;<img src="/catalog/view/theme/default/image/loading2.gif" alt="" /></span>');
            },
            complete: function() {
                $('.parser_start').attr('disabled', false);

            },
            success:function(json){
                $('#status .parser_info').remove();
                $('.wait').remove();
                //alert(url_id);
                $('#status').prepend('<div class="parser_info">' + json['url_id'] + 'Найдено страниц:' + json['total_links'] + ' Обработано:'+ json['total_links_parse'] + '<br>1-'+ json['second'] +'s<br>'+ '<br>2-'+ json['second2'] +'s<br>'+ '<br>3-'+ json['second3'] +'s<br>'+ json['url'] +'</div>');
                if (json['url_id']!='') { setInterval(parselinknotstart2(json['url_id']) , 500);

                }
            },
            error: function(xhr, ajaxOptions, thrownError) {
                setInterval(parselink2() , 500);
                console.log (thrownError + "\r\n" + xhr.statusText + "\r\n" + xhr.responseText);
                // alert(thrownError + "\r\n" + xhr.statusText + "\r\n" + xhr.responseText);
            }
        })
    }





    //--></script>

