.search_mobile_button{background:#6cd48f;position:absolute;top:21px;left:88px;width:40px;height:40px;text-align:center;border-radius:6px;border:1px solid #ccc;color:white;font-size:22px;line-height:36px;display:none;}
.unactivate{opacity:0.3;}
.error-not_found .unactivate{opacity:1;}
.price-value{font-size:18px;}
.price-value-old_price{position:absolute;top:0;left:5px;font-size:12px;text-decoration:line-through;}
.products-wrapper .switch-items{padding-top:15px;}
.switch-items{position:relative;}
.reviews-block .review-item{width:32%;box-sizing:border-box;}
.products-wrapper .switch-items .sum .sub-text{font-size:12px;color:#969595;display:block;margin-left:-7px;margin-top:-2px;}
.product-column-left .options-list .radio-label{width:auto;}
.product-consist .product-page-wrapper .product-left-column.fl-left,
.product-consist .product-page-wrapper .product-left-column.fl-right{width:49%;}
#reviews{padding-top:20px}
.product-options-wrapper .visible_item .stock, .product-options-wrapper .price-col .visible_item .price-value, .visible_item .product-sku{display:block;float:none;}
.visible_item{padding:5px 0 5px 10px;}
.menu-drop:first-child{display:block;}
.menu_lvl_3{margin-left:40px;position:relative;display:block;width:auto;background:#fff;min-height:100%;white-space:nowrap;padding:16px 20px 20px 20px;box-shadow:4px 6px 7px rgba(0, 0, 0, .15);padding-bottom:20px;}
@media screen and (max-width:1000px){.menu_lvl_3{box-shadow:none;padding:5px 10px;white-space:normal;background:none;margin:0;opacity:.75;}
}
@media screen and (min-width:1272px){.product-reviews{width:71%;}
}
@media screen and (min-width:1001px) and (max-width:1271px){.product-reviews{width:90%;}
}
.menu_lvl_3 a{display:block;padding:7px 0;border-bottom:dashed 1px #d7d7d7;}
.menu_lvl_3_bg{display:none;height:100%;}
.links-list li.active .menu_lvl_3_bg{position:absolute;left:100%;margin-left:-40px;top:0;display:block;}
.links-list li{padding:7px 0;border-bottom:dashed 1px #d7d7d7;}
.links-list > li > a{position:relative;display:block;padding-right:30px;}
.more_items:after{position:absolute;content:"\e932";font:normal normal normal 16px/1 FontAwesome;right:0;font-family:'icomoon' !important;speak:none;font-style:normal;font-weight:normal;font-variant:normal;text-transform:none;line-height:1;-webkit-font-smoothing:antialiased;-moz-osx-font-smoothing:grayscale;font-size:8px;top:50%;margin-top:-5px;}
.active .more_items:after, .more_items:hover:after, .more_items.open:after{transform:rotate(-90deg);transition:transform 400ms;color:#62c081;}
.links-list li.unactive{opacity:0.5}
.main-menu .menu-holder .links-list li.active > a{color:#62c081;}
.menu_mobile_select{display:none;border:0;height:20px;padding-left:0;font:14px/21px nerissemibold;background:#fff;background:url(../images/arrow2menu.png) no-repeat right center;overflow:hidden;-webkit-appearance:none;}
.menu_mobile_select option{padding:0;margin:0;}
.login_user_mobile > div{display:none;}
.delivery_block_mobile, .call_to_me_mobile, .bonus_mobile, .contacts_mobile{display:none;}
.categories-list-wrapper .category-item .name{height:auto;line-height:inherit;}
.opacity_fade{opacity:0.2;}
.sustem_bonus{display:block;font-size:12px;}
.sustem_bonus > div{display:inline-block;width:23%;}
.sustem_bonus > div > div{display:block;line-height:20px;padding:10px;width:100% !important;float:none !important;}
.sustem_bonus > div:first-child > div:last-child{border-top-left-radius:6px;border-bottom-left-radius:6px;}
.sustem_bonus > div:last-child > div:last-child{border-top-right-radius:6px;border-bottom-right-radius:6px;}
.one .elem.one{background:#d4d4d4;}
.two .elem.two{background:#ffe04b;}
.three .elem.three{background:#edab1c;}
.four .elem.four{background:#d09006;}
.options_weight{height:30px;overflow:hidden;}
.options_weight > div{float:left;padding:7px 3px;margin-right:3px;cursor:pointer;border:solid 1px #eeeeee;border-radius:5px 5px 0px 0px;-moz-border-radius:5px 5px 0px 0px;-webkit-border-radius:5px 5px 0px 0px;background:#ffffff;font-size:13px;color:#414141;}
.options_weight > div:hover,
.options_weight > div.active, .options_weight > div.open{border:1px solid #eee;border-bottom:0;color:#000;border-radius:5px 5px 0px 0px;-moz-border-radius:5px 5px 0px 0px;-webkit-border-radius:5px 5px 0px 0px;background:#f2f2f2;}
.options_weight > div.action-tab, .options_weight > div.active.action-tab,.options_weight > div.action-tab:hover{text-indent:100%;white-space:nowrap;overflow:hidden;position:relative;background:#f63840!important;width:30px;font-weight:600;color:#ffffff;border:solid 1px #f63840;max-width:30px;font-size:0;}
.options_weight > div.open.action-tab, .options_weight > div.open.action-tab:hover{opacity:.85;border:1px solid #f63840;border-bottom:0;color:#fff;border-radius:5px 5px 0px 0px;-moz-border-radius:5px 5px 0px 0px;-webkit-border-radius:5px 5px 0px 0px;background:#f63840;}
.options_weight > div.action-tab:after{content:'%';position:absolute;left:-55%;right:0;font-size:17px;margin:0 auto;}
.options_weight > div:first-child{margin-left:5px;}
.options_weight:after{content:"";position:relative;clear:both;height:0;}
.switch-items{background-color:#eeeeee !important;}
.extra-info{margin-top:10px;}
.rating{margin-top:0px;}
.products-wrapper .extra-info{right:0;}
.product-wrapper[id^="product-"]{box-shadow:0 0 10px rgba(0, 0, 0, 0.4);}
.product-wrapper[id^="product-"]:hover{box-shadow:0 0 10px rgba(0, 135, 0, 0.4);}
.product-wrapper .tab-content2, .product-wrapper .tab-content{display:none;border-top:1px solid #eeeeee;}
.product-wrapper .tab-content2.open, .product-wrapper .tab-content.open{display:block;}
.product-wrapper .tab-content2.open.action-tab-content, .product-wrapper .tab-content.open.action-tab-content{display:block;border-top:1px solid #eeeeee;}
.main_product_block_sale_img{float:left;width:40%;box-sizing:border-box;}
.main_product_block_sale_price{float:left;width:60%;box-sizing:border-box;}
.main_product_block_sale_price_list{float:left;width:100%;box-sizing:border-box;padding-left:15px;padding-right:15px;}
.main_product_block_sale_price_button{float:left;width:40%;box-sizing:border-box;}
.main_product_block_sale_price_list .product-options-wrapper, .main_product_block_sale_price_button .product-options-wrapper{width:100%;}
.main_product_block_sale_price_list .art, .main_product_block_sale_price_list .options-list{display:none;}
.main_product_block_sale_price_seo{width:100%;box-sizing:border-box;}
.main_product_block_sale_price_seo:before{clear:both;position:relative;content:'';display:table;}
.main_product_block_sale_price_list .price-col > div:nth-child(2n+1){}
.main_product_block_sale_price_list .price-col > div:nth-child(2n+1) .text-danger{padding:15px;text-align:center}
.main_product_block_sale_price_list .product-sku{text-align:left;}
.main_product_block_sale_price_list .low_price_mode{position:relative;}
.main_product_block_sale_price_list .low_price_mode:before{position:absolute;top:0;left:-5px;width:5px;height:100%;background-color:red;content:'';}
.price_big_table{display:block;width:100%;position:relative;}
.price_big_table__name{display:inline-block;width:33%;overflow:hidden;vertical-align:top;text-align:left;}
.price_big_table__price{display:inline-block;width:27%;vertical-align:top;text-align:right;position:relative;}
.price_big_table__x{display:inline-block;width:5%;vertical-align:top;}
.price_big_table_buy{display:inline-block;width:30%;vertical-align:top;}
.price_big_table_buy div{font-weight:bold;margin-right:10px;}
.gray_color_items > div:not(:last-child){opacity:0.5;}
.gray_color_items .price_big_table_buy{text-align:right}
.price_big_table.special:before{position:absolute;left:-5px;top:0;width:5px;height:100%;background-color:red;content:'';display:block;}
.price_big_table__price .previous_price{position:absolute;top:-8px;right:0;font-size:0.9em;color:red;text-decoration:line-through;}
.main_product_block_sale_price_list .low_price_mode .price_big_table__x .separator, .main_product_block_sale_price_list .low_price_mode .price-value, .main_product_block_sale_price_list .low_price_mode .price_big_table__name{color:red;}
.prod-link-container + .switch-items{margin-top:38px;}
.extra-info.no_options .select-mask:after{display:none;}
.extra-info.no_options .select-mask{font-weight:bold;border:0;padding:0;cursor:default;}
.extra-info .consist-text{display:none;}
.no_options .custom-select.active .select-mask{color:inherit;background-color:transparent;box-shadow:none;}
.no_options .custom-select.active{box-shadow:none;}
.products-wrapper .product-wrapper:hover .extra-info.no_options{box-shadow:none;}
.product-options-wrapper .price_big_table_buy .cart-buy{width:111px;height:auto;padding:5px 0 !important;margin-top:0;display:block !important}
.main_product_block_sale_price_button .product-options-wrapper .cart-buy{margin-top:-4px;}
.main_product_block_sale_price_button .all_price{border:1px solid #999;border-bottom:0;padding-top:20px;padding-bottom:20px;text-align:center;-webkit-border-top-left-radius:5px;-webkit-border-top-right-radius:5px;-moz-border-radius-topleft:5px;-moz-border-radius-topright:5px;border-top-left-radius:5px;border-top-right-radius:5px;margin-top:16px;}
.main_product_block_sale_price_button .all_price__price{font-size:1.2em;font-weight:bold;line-height:2em;}
.main_product_block_sale_price_button .product-reviews{margin:10px;}
.extra-info.no_options .custom-select .custom-select-content{display:none !important;}
.price_big_table__name{white-space:normal;}
.menu_products_properties{z-index:2;position:relative;display:table;background:#fff;width:100%}
.tab_propertres{z-index:1;position:relative;margin-top:-4px;background:#fff;}
.menu_products_properties > div{display:inline-block;font-size:18px;padding:10px 15px;margin-top:20px;box-shadow:0px 4px 10px rgba(110, 110, 110, 0.3);cursor:pointer;}
.menu_products_properties > div:hover{box-shadow:0px 3px 15px rgba(0, 200, 0, 0.5);text-shadow:1px 2px 5px rgba(0, 50, 0, 0.2);transition:box-shadow 500ms, text-shadow 500ms;}
.tab_propertres > div{display:none;position:relative;padding:20px;box-shadow:0 0 10px rgba(0, 255, 0, 0.2);}
.menu_products_properties > div.active{box-shadow:0 -3px 10px rgba(0, 255, 0, 0.2);}
.tab_propertres > div.active{display:block;}
.tab_propertres table{width:auto;max-width:100%;border-collapse:collapse;}
.tab_propertres table thead td, .tab_propertres table th{padding:12px 8px;color:#000000;font-family:'Open Sans', sans-serif, Verdana, sans-serif;font-size:16px;font-weight:bold;}
.tab_propertres table tbody td{padding:6px 8px;color:#000000;}
.tab_propertres table tbody tr:nth-child(odd) td{background:none;}
.tab_propertres table tbody tr:nth-child(even) td{background:#f4f3f3;}
.product-page-wrapper .product-links{display:none !important;}
.price_buy_block{display:inline-block;width:0;height:0;overflow:hidden;text-indent:-10000px;}
.product-options-wrapper .out-p-button{width:100%;height:45px;line-height:1.4em;}
.delivery_block_mobile_in{width:298px;left:0;margin-left:-53px;font:14px/18px 'Open Sans', sans-serif, Verdana, sans-serif;color:#666666;}
.delivery_block_mobile_in .tip-body:before{margin-left:0;left:60px;}
@media screen and (min-width:600px){.product-description-block .product-column-left .product-options-wrapper.fl-right{width:50%;padding-left:15px;padding-right:15px;box-sizing:border-box;float:right !important;margin-top:0 !important;}
.product-description-block .product-column-left .product-images-wrapper.fl-left{width:50%;box-sizing:border-box;float:left !important;}
.product-options-wrapper{text-align:left;}
}
@media screen and (min-width:1001px){.links-list li > select{display:none;}
.main-menu .menu-holder .menu-drop{width:0;height:0;opacity:0;overflow:hidden;padding:0px 15px 0px;transition:opacity .5s;}
.main-menu .menu-holder:hover .menu-drop{width:auto;display:block;height:auto;opacity:1;overflow:visible;}
.main-menu .menu-holder.dogs:hover .menu-drop, .main-menu .menu-holder.rats:hover .menu-drop, .main-menu .menu-holder.birds:hover .menu-drop, .main-menu .menu-holder.cats .menu-drop{min-width:429px;padding:0px 40px 0px 40px;}
.main-menu .menu-holder.reptiles:hover .menu-drop{min-width:329px;padding:0px 40px 0px 40px;}
.main-menu .menu-holder.horses:hover .menu-drop{min-width:300px;padding:0px 40px 0px 40px;}
}
@media screen and (max-width:1250px) and (min-width:1201px){.catalog-wrapper, .left-small-column + .related-articles-wrapper, .left-small-column + .reviews-wrapper{width:950px;margin-left:224px;}
}
@media screen and (max-width:1470px){.tooltip-pop.log-in{margin-left:-240px;}
.tooltip-pop .tip-body::before{left:80%;}
}
@media screen and (max-width:1270px){.tooltip-pop.log-in{margin-left:-270px;}
}
@media screen and (min-width:1201px){.col-selected-city-select i{display:none;}
.product-description-block .product-column-left{width:65%;box-sizing:border-box;float:left !important;}
.product-description-block .product-right-column{width:35% !important;box-sizing:border-box;float:right !important;}
.product-description-block .product-column-left .product-options-wrapper{width:35%;}
.product-description-block .product-column-left .product-images-wrapper{width:65%;}
}
@media screen and (max-width:1200px) and (min-width:1001px){.product-description-block .product-column-left{width:60%;}
.product-description-block .product-right-column{width:40%;}
.product-description-block .product-column-left .product-options-wrapper{width:45%;}
.product-description-block .product-column-left .product-images-wrapper{width:55%;}
.main-menu-curier{float:left;width:100%;}
.main-menu{width:970px;}
.main-header .search-container{right:15px;}
.main-menu .menu-holder{width:12.5% !important;}
.main-header .header-elements-block{padding-left:199px;}
.main-header .header-func-links{margin-left:11px;}
.header-wrapper.sticky header .header-func-links{display:block;}
.header-wrapper.sticky header .header-func-links li{display:inline-block;}
.header-wrapper.sticky header .header-func-links li:not(:first-child){margin-left:30px;}
.header-wrapper.sticky:before{height:110px;}
.header-wrapper.sticky .logo{background-position:0 3px;height:90px;width:129px;background-size:75%;}
.main_product_block_sale_price_list{float:left;width:100%;}
.main_product_block_sale_price_button{float:left;width:30%;}
.main_product_block_sale_price_button .product-reviews .review-link{width:100%;float:none !important;margin-bottom:10px;display:block;}
.main_product_block_sale_price_button .product-reviews .raiting{width:100%;float:none !important;}
.left-small-column + .catalog-wrapper, .left-small-column + .related-articles-wrapper, .left-small-column + .reviews-wrapper{width:750px;margin-left:224px;}
}
@media screen and (max-width:1200px){.top-navigation{width:100%;}
.top-navigation .tooltip-pop{top:31px;}
.col-selected-city-label{display:none;}
.col-selected-city{width:148px;text-align:center;}
.col-selected-city-select{width:100%;overflow:hidden;}
.col-selected-city-select i{font-size:24px;color:#ababab;padding:0px 10px 0 10px;line-height:30px;float:left;}
.col-selected-city-select span{line-height:30px;}
.select-mask{padding:0 45px 0 0px;margin:0 auto;}
.select-mask::after{right:15px;}
.top-navigation-link{padding:0;}
.top-navigation-link > a{height:42px;line-height:45px;padding:0 15px;display:inline-block;text-align:center;text-decoration:none;}
.top-navigation-link > a:first-child{padding-left:15px;}
.top-navigation-link > a + a{border-left:1px solid #d7d7d7;}
.top-navigation-link > a span{display:none;}
.top-navigation-link > a i{font-size:22px;padding:0;}
.top-navigation-link > a:hover i, .top-navigation-link > a.active i{color:#f58345;}
.top-navigation-link > a.skype i{font-size:22px;}
.top-navigation-link > a.delivery i{font-size:19px;}
.top-navigation-link > a.mail i{font-size:18px;}
.link-callback{width:235px;height:42px;background-color:#62c081;color:#fff;padding:5px 7px 0 20px;z-index:9999;}
.link-callback:hover{background:#f26a16;color:#fff;}
.link-callback i{font-size:28px;float:left;padding:0 20px;color:#fff;}
.link-callback span{float:left;color:#fff;border:0;display:block;line-height:28px;}
.link-callback > span:hover, .link-callback.active span{color:#fff;}
.contact-data{padding:10px 0;text-align:center;width:240px;float:left!important;}
.contact-data-text{display:none;}
.main-header{width:100%;}
.main-header .logo{width:149px;height:62px;padding:15px 60px 0 18px;}
.text-uder-search{display:none;}
.search-container{padding-top:35px;}
.benefits-block .benefit-item-curier{float:left;width:50%;padding:15px;}
.benefits-block .benefit-item{width:100%;text-align:left;}
.benefits-block .benefit-item span{text-align:left;}
}
@media screen and (max-width:1000px) and (min-width:768px){.menu-products-wrapper .menu-product{width:100%;}
.main-menu .actions .menu-products-wrapper .menu-product:last-child{margin-right:10px;}
.product-options-wrapper .price-col .separator{float:left !important;}
.product-options-wrapper .review-link.fl-right{float:right !important;}
.product-options-wrapper .rating.fl-left{float:left !important;}
}
@media screen and (max-width:1000px) and (min-width:900px){.main_product_block_sale_img, .main_product_block_sale_price{width:50%;}
}
@media screen and (max-width:900px) and (min-width:768px){.main_product_block_sale_img{width:40%;}
.main_product_block_sale_price{width:60%;}
}
@media screen and (min-width:1001px){.header-wrapper *{box-sizing:border-box;}
.main-header .search-container .search-btn{box-sizing:border-box;}
.cart-items-wrapper .cart-item{position:relative;}
.cart-items-wrapper .cart-item .btn-danger{position:absolute;top:-5px;right:-5px;padding:1px 4px;}
.cart-bt-block{float:left;width:100%; padding-bottom: 10px}
.return-pop-content .cart-bt-block > a{float:left;}
.cart-items-wrapper .price-count .items-count{line-height:30px;}
#discount-block-container{padding:5px 0;}
.col-welcom-sm{display:none;}
.ocfilter-header, .selected-options-title i{display:none;}
}
@media screen and (max-width:1000px){.link-callback{float:right!important;width:245px;}
.top-navigation-link > a.skype, .top-navigation-link > a.mail{display:none;}
.col-welcom-lg{display:none;}
.col-welcom.col-welcom-sm{background:none;height:42px;line-height:42px;padding:0 15px;display:inline-block;border-left:1px solid #d7d7d7;width:23%;}
.col-welcom .text{display:none;}
.data-enter span{padding:0;text-align:center;}
.data-enter span i, .col-welcom.col-welcom-sm i{color:#62c081;padding:0;font-size:20px;}
.contact-data{width:175px;}
.top-navigation-link{float:right;width:32%;}
.top-navigation-link > a{width:25%;}
.main-header{height:90px;padding:0;}
.contact-data > span{font-size:17px;font-weight:600;text-align:center;color:#6b6b6b;}
.search-container{float:left;width:425px;padding-top:25px;}
.search-container .placeholder-text{top:11px;}
.search-container input{line-height:42px;height:42px;}
.search-btn{width:50px !important;height:42px !important;-webkit-border-radius:0px;-moz-border-radius:0px;-ms-border-radius:0px;-o-border-radius:0px;border-radius:0px;padding:0 13px;}
.search-btn span{display:none;}
.search-btn i{font-size:24px;}
#comparison-link{bottom:17px;right:100px;}
#comparison-link .num{right:-4px;top:-8px;}
.cart-block{bottom:14px;width:60px;height:60px;border:solid 2px #62c081;}
#cart.cart-open{border:2px solid #f58345;}
.cart-block.full-cart{border:2px solid #f58345;}
.cart-block .btn-cart{width:56px;height:56px;}
.btn-cart > i{left:9px;bottom:11px;}
.cart-block .products-count{width:33px;height:33px;border:solid 2px #62c081;font-size:19px;padding:3px 0;top:-10px;right:-5px;}
.cart-block .cart-drop{top:50px;}
.btn.btn-primary.fl-right.buy-button{float:right !important;}
.price-value-old_price{position:relative;display:inline-block;}
.products-wrapper .switch-items{height:63px;}
.products-wrapper .switch-items .sum.active{margin-left:0;float:right;padding-right:10px;}
.switch-items > div{margin-top:0;}
.btn.btn-secondary.fl-right.button-order{float:right !important;top:0;}
.site-menu{display:none;}
.products-wrapper .switch-items .sum.with-sub{width:auto;top:0;line-height:31px;}
.products-wrapper .switch-items .sum .sub-text{display:inline-block;padding-right:10px;}
.main-menu-curier{width:100%;}
.main-menu{width:68%;float:left;background:#62c081;}
.site-menu{position:absolute;left:0;width:298px;top:42px;}
.menu-product + .menu-product{display:none !important;}
.main-menu .menu-holder .menu-text{text-align:left;padding-left:26px;}
.menu-products-wrapper{padding:0px 0 7px 0;}
.bonus_mobile .tooltip-pop.discount-pop .tip-body:before{left:0;margin-left:165px;}
.bonus_mobile .tooltip-pop.discount-pop{margin-left:-176px;}
.call_to_me_mobile .tooltip-pop.call-us{width:298px;left:0;margin-left:-105px;}
.call_to_me_mobile .tooltip-pop.call-us .tip-body:before{left:0;margin-left:113px;}
.tooltip-pop.log-in{right:0;width:298px;margin-left:-278px;}
.top-navigation .tooltip-pop{right:0;width:298px;margin-left:-175px;}
.links-list li .more_items{}
.burgers{display:block;height:42px;padding:7px 0 0 22px;border-radius:6px;cursor:pointer;}
.burgers i{color:#fff;font-size:27px;float:left;}
.burgers.open i, .burgers.open span{opacity:.6;}
.burgers .icon-triangle_3{float:right;font-size:11px;line-height:30px;padding-right:10px;}
.burgers span{white-space:nowrap;padding:3px 15px;font-size:18px;color:#fff;float:left;}
.main-header .header-func-links .default-link.data-enter{border:1px solid #ccc;border-radius:6px;width:40px;height:40px;background:url('../images/keyzoo.png') 4px 4px no-repeat;background-size:81%;left:268px;top:132px;right:auto;transform:scale(1);cursor:pointer;}
.delivery_block_mobile{width:40px;height:40px;background:url('../images/dostavka.png') 2px 2px no-repeat;background-size:90%;margin-left:52px;position:absolute;top:132px;border:1px solid #ccc;border-radius:6px;cursor:pointer;display:block !important;}
.call_to_me_mobile{width:40px;height:40px;background:url('../images/callback.png') 2px 2px no-repeat;background-size:90%;margin-left:104px;position:absolute;top:132px;border:1px solid #ccc;border-radius:6px;cursor:pointer;display:block !important;}
.bonus_mobile{width:40px;height:40px;background:url('../images/bonus_pig.png') 3px 3px no-repeat;background-size:86%;margin-left:156px;position:absolute;top:132px;border:1px solid #ccc;border-radius:6px;cursor:pointer;display:block !important;}
.contacts_mobile{width:40px;height:40px;background:url('../images/kontakti.png') 3px 2px no-repeat;background-size:85%;margin-left:208px;position:absolute;top:132px;border:1px solid #ccc;border-radius:6px;cursor:pointer;display:block !important;}
.category-up-text{padding:8px 0 9px 0;clear:both;font-size:12px;font-weight:600;color:#272727;}
.ocfilter-header{display:none;}
.selected-options-title.selected-options-title2{height:48px;line-height:38px;font-size:17px;padding:5px 15px;border-radius:6px;cursor:pointer;}
.selected-options-title.selected-options-title2.open{border-radius:6px 6px 0 0;}
.selected-options-title.selected-options-title2 i{line-height:38px;}
.selected-options-title.selected-options-title2.open i{opacity:.8;}
#ocfilter-content{display:none;height: 1px!important;}
#ocfilter-content.open{display:block;height: auto;}
#scale-price{height:4px;}
.noUi-handle{top:-10px;left:-8px;width:23px;height:23px;}
.selected-options{margin:20px 0;border-radius:6px!important;}
/*.ocfilter .list-group-item_{border-radius:6px!important;margin-bottom:0!important;}*/
.ocfilter .zag4 span{max-width:90%!important;}
.sort-filters{padding:15px 0;float:left;width:100%;}
.header-func-links.unactived{display:none;}
.login_user_mobile{border:1px solid #ccc;border-radius:6px;width:40px;height:40px;background:url('../images/keyzoo.png') 4px 4px no-repeat;background-size:81%;left:268px;top:132px;position:absolute;cursor:pointer;}
.login_user_mobile.active{background:none;transition:background 1s}
.login_user_mobile.active > div:before{content:"\f103";font:normal normal normal 39px/1 FontAwesome;position:absolute;width:30px;height:30px;top:-50px;margin-left:48px;color:#62c081;}
.login_user_mobile > div{margin-top:50px;position:relative;z-index:1;background:#fff;border:1px solid #ccc;width:91px;padding:10px;border-radius:6px;margin-left:-53px;display:none;box-shadow:3px 3px 10px rgba(0, 0, 0, 0.5);}
.login_user_mobile.active > div{display:block;}
.cart-block, .cart-drop{z-index:99;}
.main_product_block_sale_price_list{float:left;width:100%;}
.main_product_block_sale_price_button{float:left;width:100%;padding:0 20px;}
.return-pop-wrapper{z-index:9999;}
.product-options-wrapper{margin-top:0px;}
.product-description-block .product-right-column.fl-right{margin-top:40px;}
.product-description-block .product-right-column.fl-right > div{display:inline-block;width:49%;box-sizing:border-box;}
.product-description-block .product-right-column.fl-right > div:nth-child(2){padding-left:40px;vertical-align:bottom;}
#product-full-descr p:first-child{float:right;}
.product-consist, .product-page-wrapper .product-left-column.fl-left{padding-bottom:40px;}
.contact-us-wrapper .contact-right{margin-right:0;}
}
@media screen and (max-width:1000px) and (min-width:768px){.site-menu{width:100%;}
}
@media screen and (min-width:768px){
    .category-middle_text.empty{
        display: none;
    }

}
@media screen and (max-width:767px){.tooltip{display:none!important;}
.search-container{width:42%;}
.reviews-block .review-item{width:100%;box-sizing:border-box;display:block;max-width:450px;margin:0 auto;float:none;padding-right:0;}
.season-supply h2, .new-products h2, .reviews-block h2{margin:0 auto;max-width:450px;}
.main-menu .menu-products-wrapper .menu-product + .menu-product{display:none;}
.menu-products-wrapper .menu-product{width:100%}
.main-menu .actions .menu-products-wrapper .menu-product + .menu-product{display:inline-block;}
.main-menu .actions .menu-products-wrapper .menu-product{width:188px}
.categories-list-wrapper{padding:0 15px 30px 15px;}
.categories-list-wrapper .category-item-curier{width:100%;padding:2px 0px 1px 0px;}
.categories-list-wrapper .category-item .image-block{display:none;}
.categories-list-wrapper .category-item .name{width:100%;padding:15px;}
.product-options-wrapper .options-list{max-height:260px !important;}
.product-description-block .product-right-column.fl-right > div{display:inline-block;width:100%;box-sizing:border-box;}
.product-options-wrapper .review-link.fl-right{float:right !important;}
.product-options-wrapper .rating.fl-left{float:left !important;}
.product-consist .product-page-wrapper .product-left-column.fl-left,
.product-consist .product-page-wrapper .product-left-column.fl-right{width:100%;}
.text-page{overflow:visible;}
.main_product_block_sale_img{width:100%;}
.main_product_block_sale_price{width:100%;}
.product-main-image{text-align:center;}
.main_product_block_sale_img .product-main-image img{max-height:250px;}
.menu_products_properties > div > div{display:none;}
.menu_products_properties > div.active > div{display:block;}
.menu_products_properties > div.active{color:#fff;}
.menu_products_properties > div.active .active{color:#000;font-size:16px;line-height:1.2em;text-shadow:none;}
.menu_products_properties > div:hover{text-shadow:none !important;}
.product-full-descr p{text-align:left !important;}
.menu_products_properties > div{width:100%;}
.main-footer .fl-right{float:none !important;}
}
@media screen and (max-width:600px){.link-callback{width:105px;padding-left:15px;}
.link-callback i{padding:0 5px 0 0;}
.link-callback span{font-size:12px;width:54px;line-height:14px;text-transform:lowercase;}
.top-navigation .tooltip-pop{right:0;width:298px;margin-left:-246px;}
.main-header{height:124px;}
.main-header .logo{width:101px;height:80px;padding:15px 15px 0 15px;}
.search-container{width:100%;margin:0;padding:1px;overflow:hidden;}
.search-btn{width:52px !important;}
.cart-block{bottom:54px;right:20px;}
.cart-block .products-count{top:-5px;right:-11px;}
#comparison-link{bottom:58px;right:104px; }
.top-navigation-link{width:68%;text-align:right;}
.main-menu-curier{border-top:0;height:42px;}
.main-menu{width:32%;}
.burgers span{display:none;}
.col-welcom.col-welcom-sm,.top-navigation-link > a{width:52px;}
.product-wrapper{width:100%!important;margin-left:0%!important;}
#product-full-descr p img{max-width:150px;height:auto;}
.product-description-block .product-right-column.fl-right > div{display:block;width:100%;box-sizing:border-box;}
#product-full-descr p:first-child{float:none;display:block;}
.product-options-wrapper .price-col .btn.btn-default.bootstrap-touchspin-down.tsp-small{float:left;}
.product-options-wrapper .price-col .cart-quantity-input{float:left;margin:0 5px;}
.product-options-wrapper .price-col .btn.btn-default.bootstrap-touchspin-up.tsp-small{float:left;}
.product-options-wrapper .stock{text-align:left;}
/**/.action-article-curier{width:100%;}
.action-article{height:inherit;}
}
@media screen and (max-width:530px){.sustem_bonus > div > div:first-child{line-height:8px;padding-top:20px;}
.sustem_bonus > div{display:inline-block;width:49%;}
.sustem_bonus > div:nth-child(2) > div:last-child{border-top-right-radius:6px;border-bottom-right-radius:6px;}
.sustem_bonus > div:nth-child(3) > div:last-child{border-top-left-radius:6px;border-bottom-left-radius:6px;}
}
@media screen and (max-width:500px){.return-pop-wrapper .return-pop-content{width:290px;}
.return-pop-wrapper .cart-item-info{width:180px;float:left;padding:0 10px;}
.return-pop-wrapper .cart-item-info .name br{display:none;}
.cart-items-wrapper .price-count .price-value.fl-right{width:100%;float:left;text-align:left;}
.cart-items-wrapper .price-count .counter{height:22px;}
.brands-wrapper{display:none;}
.price_big_table__name{width:100%;display:block;margin-bottom:10px;}
.price_big_table__price{width:auto;}
.price_big_table__x{width:16px}
.price_big_table_buy{width:115px}
.price_big_table{box-shadow:0px 2px 3px rgba(0, 0, 0, 0.2) !important;margin-bottom:13px;}
}
@media screen and (max-width:480px){.categories-list-wrapper .category-item{width:49%;}
}
@media screen and (max-width:479px){.col-selected-city{width:67px;}
.col-selected-city-select span{display:none;}
.contact-data{width:144px;overflow:hidden;}
.top-navigation-link > a.delivery{border-left:0;}
.price_big_table-in-card td.td_option_add_button{width:70px;}
.price_big_table td.td_option_quantity{width:185px;}
.categories-list-wrapper .category-item{width:100%;}
.main_product_block_sale_price_list{padding-left:0px;padding-right:0px;}
.product-page #product .buy-button{padding:4px;font-size:0;width:55px;height:33px;position:relative;}
.product-page #product .buy-button:before{background:url('../images/icons.png') 0 -1097px no-repeat;position:absolute;content:'';width:50px;height:30px;top:0px;left:10px;}
.product-page .characteristics-table{padding:20px 0;}
.product-page .price_big_table td.td_option_price .price-value{font-size:14px !important;}
.product-page .price_big_table .tsp-small{width:19px;padding:4px 0;}
}
