#totop{z-index:1000;}
.adisable{pointer-events:none;}
.burgers{display:none;}
.prod-ch-variant .custom-radio{opacity:0;background:red;width:100%;position:absolute !important;left:0;height:100%;}
.prod-ch-variant:before{content:'';display:inline-block;vertical-align:top;background:url("../images/radio.png") 0 0;width:16px;height:16px;}
.radio-label.active:before,
.prod-ch-variant.isCheck:before{background-position:0 -32px;}
.options-list input[type=checkbox]{display:none;}
.options-list input[type=checkbox] + label{position:relative;}
.options-list input[type=checkbox] + label:before{font-family:'icomoon';display:inline-block;font-size:20px;position:relative;top:3px;}
.options-list input[type=checkbox] + label:before{width:14px;content:'';height:14px;background-color:#ffffff;border:solid 1px #d6d6d6;}
}
.options-list input[type=checkbox] + label:before{letter-spacing:8px;}
.options-list input[type=checkbox]:checked + label:before{border:solid 1px #E56101;}
.options-list input[type=checkbox]:checked + label:before{letter-spacing:5px;}
.options-list input[type=checkbox]:checked + label:after{font-family:'icomoon';position:absolute;left:0;top:0px;content:"\e912";font-size:12px;}


.no-price  .options-list input[type=checkbox]{display:none;}
.no-price .options-list input[type=checkbox] + span{position:relative;}
.no-price .options-list input[type=checkbox] + span:before{font-family:'icomoon';display:inline-block;font-size:20px;position:relative;top:3px;}
.no-price .options-list input[type=checkbox] + span:before{width:14px;content:'';height:14px;background-color:#ffffff;border:solid 1px #d6d6d6;}
}
.no-price .options-list input[type=checkbox] + span:before{letter-spacing:8px;}
.no-price .options-list input[type=checkbox]:checked + span:before{border:solid 1px #E56101;}
.no-price .options-list input[type=checkbox]:checked + span:before{letter-spacing:5px;}
.no-price .options-list input[type=checkbox]:checked + span:after{font-family:'icomoon';position:absolute;left:0;top:0px;content:"\e912";font-size:12px;}
.rating{margin-top:0;}
@media screen and (max-width:1470px){.tooltip-pop.discount-pop{width:490px;margin-left:-369px;}
}
@media screen and (min-width:1201px) {
    .products-wrapper .product-wrapper {
        width: 30.7%;
    }
    .products-wrapper .product-wrapper.last-item {
        margin: 0 0px 35px 0;
    }
    .variantB .products-wrapper .product-wrapper.last-item {
        margin: 0 0px 0px 0;
    }
}
@media screen and (max-width:1200px){.center-wrapper, .catalog-wrapper{width:100%;}
.product-search .catalog-wrapper{width:100%;padding:0 20px;}
.center-wrapper{box-sizing:border-box;}
.products-wrapper{margin:20px 0px 5px 0;}
.tooltip-pop.discount-pop{width:490px;margin-left:-390px;}
    .link-callback .zag3{
        display: none;
    }
}
@media screen and (max-width:1200px) and (min-width:1001px){body{min-width:0;}
.catalog-wrapper{margin-left:244px;}
.center-wrapper{padding:0px 15px;}
.main-footer .copyright-block{margin-top:0;}
.products-wrapper .product-wrapper{width:354px;margin:0 5px 20px 0;}
.common-home .products-wrapper .product-wrapper{width:48%;}
.header-wrapper.sticky .header-func-links{display:none;}
}
@media screen and (max-width:1139px){#cart-drop-wrapper{overflow-y:scroll;padding-bottom:30px;}
.fast-view{display:none;}
}
@media screen and (max-width:1000px){.full-cart #cart-drop-wrapper{min-width:300px;}
.header-elements-block .info-line{position:relative;z-index:1002;}
.return-pop-wrapper .return-pop-content{top:180px;}
.nav.nav-tabs.menu_products_properties li{width:100%;float:left;}
}
/*.ks_filters_wrap .options-list.expanded{overflow:auto !important;}*/
@media screen and (max-width:1271px) and (min-width:1231px){.main-header .header-elements-block{margin:9px 0 0 0;}
}
@media screen and (max-width:1271px) and (min-width:1000px){.main-footer .services-block.garanty{display:none;}
}
@media screen and (max-width:1000px){.tooltip-pop .tip-body::before{display:none;}
.tooltip-pop.discount-pop{padding-top:0;}
.cart-items-wrapper .price-count .counter{height:30px;}
.product-page-wrapper .product-links .bordered-link .reviews-count{top:0;}
.product-page-wrapper .product-links{line-height:2;}
.main-header .contact-data:hover .tooltip-pop{z-index:9999;}
.products-wrapper .switch-items .button_curier{float:right;}

    .products-wrapper .read-more a {
        display: none;
    }

    .products-wrapper .read-more  {
        cursor: pointer;
        font-size: 14px;
        font-weight: 600;
        text-align: left;
        color: #f26903;
    }
    .icon-down{
        float: right;
        display: inline-block;
        width: 0;
        height: 0;
        border-left: 6px solid transparent;
        border-right: 6px solid transparent;
        border-top: 10px solid #f26903;
        margin:5px 10px 0 0;
    }
    .open .icon-down {
        transform: rotate(180deg);
        -webkit-transform: rotate(180deg);
    }




}
@media screen and (max-width:1000px) and (min-width:768px){label.active{color:inherit;}
label.isCheck{color:#62c081;}span.active{color:inherit;}
    span.isCheck{color:#62c081;}
.breadcrumbs{line-height:26px}
.products-wrapper .product-wrapper:nth-of-type(2n){left:10px !important;}
.main-menu .menu-holder:hover .menu-drop{display:none !important;}
.main-menu .menu-holder:hover .menu-text{border-right-color:none;-webkit-box-shadow:none;-moz-box-shadow:none;box-shadow:none;border-top-color:none;color:none;}
.main-menu .menu-holder.isActive .menu-text{background:#62c081;border-right-color:#62c081;-webkit-box-shadow:none;-moz-box-shadow:none;box-shadow:none;border-top-color:#4aa267;color:#ffffff;}
*, *:before, *:after{box-sizing:border-box;}
body{min-width:0;}
.main-menu .menu-holder{width:100% !important;float:none;}
.main-menu .menu-holder .menu-drop{position:static;overflow:auto;padding:10px;}
.main-menu .menu-holder .menu-text{border:none;color:#333 !important;}
.main-menu .menu-holder.isActive .menu-drop{display:block !important;}
.text-page{overflow:hidden;}
.actions-inner-wrapper{width:auto;margin-left:0;}
.menu-products-wrapper .menu-product + .menu-product{margin-left:10px;}
.main-menu .site-menu{height:auto;}
.center-wrapper{width:auto;}
.main-header .search-container .search-field{width:100%;}
.left-small-column{width:100%;}
.catalog-wrapper{width:100%;margin-left:0;}
.hided-block .hided-block-inner{overflow-x:auto;}
.orders-wrapper .total-sum .btn{position:static;}
.checkout-list .total-sum{height:auto;}
.orders-wrapper .first-column, .orders-wrapper .second-column{width:100%;margin-right:0;}
.right-column{margin-left:0;}
.user-info, .right-column, .orders-wrapper .right-column{width:auto;}
.reviews-block .review-item{width:100%;}
.product-page-wrapper .product-right-column{width:auto;}
.text-page .content-block{width:auto;}
.product-options-wrapper{float:none;width:auto;margin-top:40px;}
.product-images-wrapper{width:100%;}
.product-page-wrapper .product-left-column{width:100%;}
.product-description-block .product-column-left{width:100%;}
.product-images-wrapper img{max-width:100%;max-height:100%;}
.main-footer{height:auto;text-align:center;position:relative;}
.main-footer{height:auto;padding-bottom:90px;}
.regions_dialog .cities ul{float:none;width:100%;}
.products-wrapper .extra-info{position:static;display:block;}
.tooltip-pop.log-in .buttons-block{margin-top:0;}
.tooltip-pop.log-in{right:-3px;box-sizing:border-box;width:226px;margin-left:-210px;}
.tooltip-pop .tip-body:before{left:94%;}
.categories-list-wrapper .category-item{float:none;}
.socials,
.social-bookmarks{display:none;}
li.menu-holder{border:1px solid #ccc;}
li.menu-holder a{border:0 !important;pointer-events:none;}
li.menu-holder.actions{border:0 !important;}
.benefit-item{box-sizing:border-box;margin:0 auto;float:none !important;display:inline-block;vertical-align:top;}
.bx-viewport{height:auto !important;}
.main-slider img{height:auto !important;}
.bx-controls{display:none;}
/*
.product-wrapper{float:none !important;box-sizing:border-box;width:auto !important;max-width:450px;margin:20px auto !important;}
*/
.switch-items > button{margin-top:-13px;}
.switch-items > div{margin-top:-13px;}
.date{margin:0 !important;}
.review-item img{display:block !important;float:none !important;max-width:100% !important;margin:0 auto;}
.products-wrapper{margin:0;}
.products-wrapper .switch-items{height:auto;}
.products-wrapper .switch-items .sum.active{display:inline-block;margin-left:10px;}
.products-wrapper .switch-items .btn{height:auto;margin-left:1px;}
.products-wrapper .switch-items .btn.button-order{position:relative;margin-left:auto;top:20px;;}
.regions_dialog{position:absolute !important;width:100% !important;left:0 !important;top:0 !important;margin:0px !important;}
.func-link.active .tooltip-pop{z-index:999;}
.contact-us-wrapper .contact-right, .contact-us-wrapper .contact-info{width:100%;}
.contact-info table{width:100% !important;}
.send-form{width:auto;}
.regions_dialog .regions .inner, .regions_dialog .cities .inner{height:200px;}
.switch-items > button{margin-top:0;}
.regions-row .regions-col-1, .regions-row .regions-col-2{float:none;width:100%;}
.brands-search{margin-top:0;}
.product-actions-wrapper .product-action-item{width:auto;float:none;}
.center-wrapper{box-sizing:border-box;padding:0 10px;}
.main-footer .services-block{margin:0;}
.main-footer .copyright-block{margin:0;left:0;position:absolute;bottom:10px;width:100%;}
.no-results img{margin:10px auto;}
.values-container > *{display:inline-block;}
.options-list{margin-right:0;max-height:90px !important;}
.product-page-wrapper .product-links .bordered-link{margin-right:12px;}
.product-options-wrapper{text-align:center;}
#form_filter .options-list{text-align:left !important;}
.options-list .radio-label{float:none;display:inline-block;}
#product-full-descr p img{float:none !important;display:block;margin:0 auto;}
.cart-items-wrapper .cart-item,
.cart-formrow .value .comment_textarea{width:100% !important;}
.checkout-list{width:auto;box-sizing:border-box;text-align:center;}
.cart-items-wrapper .cart-item-info{text-align:center;}
.return-pop-wrapper .return-pop-content{margin-left:0;left:0;padding:10px;margin:0 auto;}
.cart-items-wrapper .price-count .bootstrap-touchspin,
.cart-items-wrapper .image{margin:5px auto;}
.checkout-page .checkout-list{margin:5px auto;}
.checkout-form{width:auto;}
.main-footer .text-block{margin:10px 0;}
.menu-products-wrapper .menu-product{min-height:0;}
.linked-products .price-count .btn-primary{position:static;}
.left-small-column + .related-articles-wrapper, .left-small-column + .reviews-wrapper{margin-left:0;width:100%;}
.related-articles-wrapper .related-article .image{margin:auto;}
.related-articles-wrapper .related-article .article-content{margin-left:0;}
.loyalty-page .discount-block{line-height:37px;}
.loyalty-page .elem{float:none;width:100%;padding-left:20px;}
.loyalty-page .elem.four{border-radius:none;}
.loyalty-page .discount-block.values{height:auto;margin-top:-148px;}
/*.product-wrapper{width:49% !important;max-width:50% !important;display:inline-block;vertical-align:top;margin-right:1px;}
 .variantB  .product-wrapper{width:100% !important;max-width:100% !important;vertical-align:top;margin-right:1px;}*/
}
@media screen and (max-width:870px){.tooltip-pop.discount-pop{margin-left:-420px;}
.tooltip-pop .tip-body::before{margin-left:18px;}
}
@media screen and (max-width:767px){.products-wrapper .switch-items .btn.button-order{top:-10px;}
label.active{color:inherit;}
label.isCheck{color:#62c081;}span.active{color:inherit;}
span.isCheck{color:#62c081;}
.breadcrumbs {
    line-height: 20px;
    overflow: hidden;
    height: 37px;
    width: 100%;
    padding: 5px;
    white-space: nowrap;
    display: inline-block;
    position: relative;
}
   .breadcrumbs:after {
       position: absolute;
       right: 0;
       top: 0;
       width: 40%;
       height: 37px;
       background: linear-gradient(to left, #ffffff, rgba(255, 255, 255, 0.1));
       content: '';
       padding: 10px;

   }
.breadcrumbs.open {
    height: inherit;
    white-space: normal;

  }
    .breadcrumbs.open:after {
        display: none;
    }
.main-menu .menu-holder:hover .menu-drop{display:none !important;}
.main-menu .menu-holder:hover .menu-text{border-right-color:none;-webkit-box-shadow:none;-moz-box-shadow:none;box-shadow:none;border-top-color:none;color:none;}
.main-menu .menu-holder.isActive .menu-text{background:#62c081;border-right-color:#62c081;-webkit-box-shadow:none;-moz-box-shadow:none;box-shadow:none;border-top-color:#4aa267;color:#ffffff;}
.main-header .contact-data .tooltip-pop{margin-left:-150px;}
*, *:before, *:after{box-sizing:border-box;}
body{min-width:0;}
.main-menu .menu-holder{width:100% !important;float:none;}
.main-menu .menu-holder .menu-drop{position:static;overflow:auto;padding:10px;}
.main-menu .menu-holder .menu-text{border:none;color:#333 !important;}
.main-menu .menu-holder.isActive .menu-drop{display:block !important;}
.text-page{overflow:hidden;}
.actions-inner-wrapper{width:auto;margin-left:0;}
.menu-products-wrapper .menu-product + .menu-product{margin-left:10px;}
.center-wrapper{width:auto;}
.left-small-column{width:100%;}
.catalog-wrapper{width:100%;margin-left:0;}
.hided-block .hided-block-inner{overflow-x:auto;}
.orders-wrapper .total-sum .btn{position:static;}
#cart-drop-wrapper{max-height:367px;}
.checkout-list .total-sum{height:auto;}
.orders-wrapper .first-column, .orders-wrapper .second-column{width:100%;margin-right:0;}
.right-column{margin-left:0;}
.user-info, .right-column, .orders-wrapper .right-column{width:auto;}
.user-info .your-discount-wrapper{position:static;width:auto;}
.reviews-block .review-item{width:100%;}
.product-page-wrapper .product-right-column{width:auto;}
.text-page .content-block{width:auto;}
.product-options-wrapper{float:none;width:auto;margin-top:40px;}
.product-images-wrapper{width:100%;}
.product-page-wrapper .product-left-column{width:100%;}
.product-description-block .product-column-left{width:100%;}
.product-images-wrapper img{max-width:100%;max-height:100%;}
.main-footer{height:auto;text-align:center;position:relative;padding-bottom:90px;}
.regions_dialog .cities ul{float:none;width:100%;}
.products-wrapper .extra-info{position:static;display:block;}
.default-link{padding:2px;padding-right:15px;text-align:right;}
.header-func-links li{padding:2px;text-align:right;}
.func-link{border:0;}
.buttons-block-link a{width:50%;}
.header-func-links .default-link{display:inline-block !important;padding:0;}
.tooltip-pop.call-us .tip-body, .tooltip-pop.log-in .tip-body{padding:15px 7px 20px;}
.header-func-links li:last-of-type{display:none !important;}
.tooltip-pop.log-in{right:-3px;box-sizing:border-box;width:226px;margin-left:-210px;}
.tooltip-pop .tip-body:before{left:94%;}
.categories-list-wrapper .category-item{float:none;}
.main-header .header-func-links .default-link.data-enter{font-size:0;position:absolute;z-index:99;top:92px;right:15px;width:32px;height:32px;-webkit-transform:scale(1.34);-moz-transform:scale(1.34);transform:scale(1.34);border:2px solid #eee;border-radius:5px;background:url('../images/icons.png') no-repeat;background-position:7px -1792px;}
.main-header .header-func-links .default-link.data-enter:after{display:none;}
.socials,
.social-bookmarks{display:none;}
li.menu-holder{border:1px solid #ccc;}
li.menu-holder a{border:0 !important;pointer-events:none;}
li.menu-holder.actions{border:0 !important;}
.benefit-item{box-sizing:border-box;margin:0 auto;float:none !important;display:inline-block;vertical-align:top;}
.bx-viewport{height:auto !important;}
.main-slider img{height:auto !important;margin-top:20px;}
.bx-controls{display:none;}
.prod-cat-line{float:left;width:100%;}
.product-wrapper{float:left;box-sizing:border-box;width:49%!important;margin:20px auto !important;margin-left:1%!important;}
.variantB  .product-wrapper{float:left;box-sizing:border-box;width:100%!important;margin:0 auto !important;margin-left:0!important; padding-bottom: 20px!important;}
.variantB .product-wrapper-col {
        width: 50%;
    }
.variantB .options_variants .options_variants_items_more:last-child {
        padding-bottom: 20px;
    }
.switch-items > button{margin-top:-13px;}
.switch-items > div{margin-top:-13px;}
.date{margin:0 !important;}
.review-item img{display:block !important;float:none !important;max-width:100% !important;margin:0 auto;}
.products-wrapper{margin:0;}
.products-wrapper .switch-items{height:auto;}
.products-wrapper .switch-items .sum.active{display:inline-block;margin-left:10px;}
.products-wrapper .switch-items .btn{height:auto;margin-left:1px;}
.products-wrapper .switch-items .btn.button-order{position:relative;margin-left:auto;top:20px;;}
.regions_dialog{position:absolute !important;width:100% !important;left:0 !important;top:0 !important;margin:0px !important;}
.func-link.active .tooltip-pop{z-index:100;}
.contact-us-wrapper .contact-right, .contact-us-wrapper .contact-info{width:100%;}
.contact-info table{width:100% !important;}
.send-form{width:auto;}
.regions_dialog .regions .inner, .regions_dialog .cities .inner{height:200px;}
.switch-items > button{margin-top:0;}
.regions-row .regions-col-1, .regions-row .regions-col-2{float:none;width:100%;}
.brands-search{margin-top:0;}
.product-actions-wrapper .product-action-item{width:auto;float:none;}
.center-wrapper{box-sizing:border-box;padding:0 10px;}
.main-footer .services-block{margin:0;}
.main-footer .copyright-block{margin:0;left:0;position:absolute;bottom:10px;width:100%;}
.no-results img{margin:10px auto;}
.values-container > *{display:inline-block;}
/*.options-list{margin-right:0;max-height:90px !important;}*/
.product-page-wrapper .product-links .bordered-link{margin-right:12px;}
.product-options-wrapper{text-align:center;}
#form_filter .options-list{text-align:left !important;}
.options-list .radio-label{float:none;display:inline-block;}
#product-full-descr p img{float:none !important;display:block;margin:0 auto;}
.cart-items-wrapper .cart-item,
.cart-formrow .value .comment_textarea{width:100% !important;}
.checkout-list{width:auto;box-sizing:border-box;text-align:center;}
.cart-items-wrapper .cart-item-info{margin-left:0;text-align:center;}
.return-pop-wrapper .return-pop-content{margin-left:0;left:0;padding:10px;margin:0 auto;}
.cart-items-wrapper .price-count .bootstrap-touchspin,
.cart-items-wrapper .image{margin:5px auto;}
.checkout-page .checkout-list{margin:5px auto;}
.checkout-form{width:auto;}
.main-footer .text-block{margin:10px 0;}
.menu-products-wrapper .menu-product{min-height:0;}
.linked-products .price-count .btn-primary{position:static;}
.left-small-column + .related-articles-wrapper, .left-small-column + .reviews-wrapper{margin-left:0;width:100%;}
.related-articles-wrapper .related-article .image{margin:auto;}
.related-articles-wrapper .related-article .article-content{margin-left:0;}
.loyalty-page .discount-block{line-height:37px;}
.loyalty-page .elem{float:none;width:100%;padding-left:20px;}
.loyalty-page .elem.four{border-radius:none;}
.loyalty-page .discount-block.values{height:auto;margin-top:-148px;}
}
@media screen and (max-width:800px){.cart-bt-block{padding:20px 0;clear:both;}
.view-in-popap.fl-left{display:block;width:100%;float:left;padding:15px 0;}
.main-menu .site-menu{height:auto;}
}
@media screen and (max-width:767px){.product-search .catalog-wrapper .col-sm-3, .product-search .catalog-wrapper .col-sm-4{padding-bottom:20px;}
.contact-info table, iframe{max-width:100% !important;}
    .button_curier {
        padding: 5px 0 5px 0;
    }
    .button_curier .button-add button {
        padding: 10px 19px;
        font-size: 14px;
    }
    .options_variants_items{

        padding: 5px 0;
    }

}
@media screen and (min-width:601px) {
}
@media screen and (max-width:640px) {
    .variantB .product-wrapper-col {
        width:100%;
    }
    #comparison-link, .wishlist-compare-curier, .product-wrapper:hover .wishlist-compare-curier {display: none}

}
@media screen and (max-width:600px){
    .benefits-block{display:none;}
    #cart-drop-wrapper{min-width:189px;overflow:hidden;}



}
@media screen and (max-width:531px){.tooltip-pop.discount-pop{width:320px;margin-left:-282px;}
}
@media screen and (max-width:410px){.price_big_table td.td_option_price{font:12px/14px;padding:3px 1px;text-align:center;}
.price_big_table td.td_option_name{font-size:13px !important;}
.price_big_table td.td_option_price .price-value{font-size:13px !important;}
.owq-option input[type="text"]{max-width:30px;}
}
@media screen and (max-width:380px){.tab-content table img{max-width:100%;height:auto;}
.tooltip-pop.discount-pop{width:300px;margin-left:-230px;}
.tooltip-pop .tip-body::before{margin-left:-18px;}

    .tooltip-pop.log-in .buttons-block {
        margin-top: 5px;
    }

    .log-in .modal-header {
        padding: 5px 15px;
    }

    .log-in.tooltip-pop .text-label {
        margin: 5px 0 5px;
    }



}
