/*=Font size */
.ocfilter-option .option-name,
.ocfilter-option .option-values,
.ocfilter-option .option-description,
.ocfilter-option .fields-price
{
	font-size: 12px;
}

.ocfilter a,
.ocfilter a:hover,
.ocfilter a:active,
.ocfilter a:focus
{background: none; border: none; padding: 0; text-shadow: none; color: #666666; font-size: 14px}

.ocfilter-option .option-name{font-size: 12px; font-weight: 600; margin-bottom: 10px;}
/*.ocfilter-option .option-values{overflow: visible;}*/
.list-group-item{overflow: visible!important;}
.ocfilter-option .option-values .dropdown-menu{width: 100%;}
.ocfilter-option .option-values .dropdown-menu > li{
	padding: 10px;
}

.ocfilter-option .color{border-radius: 3px 3px 3px 3px; float: left; height: 19px; margin: 1px -16px 0 -3px; width: 19px;}
.ocfilter-option .image{background-repeat: no-repeat; background-position: 0 0; float: left; height: 19px; margin: 1px -16px 0 -3px; position: relative; width: 19px; z-index: 10;}

.ocfilter-option label{cursor: pointer; display: block; font-size: 14px; font-weight: normal; }
.ocfilter-option label.strong {font-weight: bold; }
.ocfilter-option label input{display: inline-block; margin: 0 5px 0 0; vertical-align: top;}
.ocfilter-option label small{background-color: #DBEAF9; color: #0E6A93; font-weight: 200; font-size: 10px; margin-left: 5px;}

.ocfilter-option label.disabled{color: #999999;}
.ocfilter-option label.disabled small{background-color: #EFEFEF; color: #999999;}

.ocfilter-option label a{color: #236BBB; text-decoration: none;}
.ocfilter-option label a {
	color: #666666;
}
.ocfilter-option label.selected {color: #E56101;}
.ocfilter-option label.selected small{display: none;}


.ocfilter-option.no-price span{cursor: pointer; display: block; font-size: 14px; font-weight: normal; }
.ocfilter-option.no-price  span.strong {font-weight: bold; }
.ocfilter-option.no-price  span input{display: inline-block; margin: 0 5px 0 0; vertical-align: top;}
.ocfilter-option.no-price  span small{background-color: #DBEAF9; color: #0E6A93; font-weight: 200; font-size: 10px; margin-left: 5px;}

.ocfilter-option.no-price  span.disabled{color: #999999;}
.ocfilter-option.no-price  span.disabled small{background-color: #EFEFEF; color: #999999;}

.ocfilter-option.no-price  span a{color: #236BBB; text-decoration: none;}
.ocfilter-option.no-price  span a {
	color: #666666;
}
.ocfilter-option.no-price  span.selected {color: #E56101;}
.ocfilter-option.no-price  span.selected small{display: none;}

/*=Selected Options */
.list-group-item_.selected-options {color: #333333;
	border-radius: 6px!important;
	background-color: #ffffff;
	box-shadow: 0 0 7px 0 rgba(0, 0, 0, 0.16);
	-webkit-box-shadow: 0 0 7px 0 rgba(0, 0, 0, 0.16);
	-moz-box-shadow: 0 0 7px 0 rgba(0, 0, 0, 0.16);
	padding: 0;
	margin-bottom: 20px!important;
}
.selected-options-title{
	height: 33px;
	background-color: #62c081;
	font-size: 14px;
	color: #fff;
	text-align: left;
	padding: 5px 15px;
	border-radius: 6px 6px 0 0;
	line-height: 23px;
}
.selected-options-title span{
	float: left;
}
.selected-options-title i{
	float: right;
	font-size: 11px;
}

.selected-options .ocfilter-option{background-color: #FFF; font-size: 12px; padding: 4px 10px 4px 10px; display: block; width: 100%}
.selected-options .ocfilter-option span{
	display: block; width: 100%;
	font-size: 12px;
	color: #474747;
	padding:5px 0;
}
.selected-options .ocfilter-option button{
	border-radius: 6px;
	background-color: #f2f2f2;
	font-size: 12px;
	font-weight: 600;
	color: #3c3c3c;
	width: 100%;
	text-align: left;
	border: 0;
	padding: 6px 10px;
	margin-bottom: 15px;
}
.selected-options .ocfilter-option button:hover{
	opacity: .7;
}
.selected-options .ocfilter-option button i{
	font-size: 9px;
	padding: 0 5px 0 0;
	color: #711e21;
}
.clear-all-curier{
	text-align: center;
	padding: 0 0 15px 0;
	width: 100%;
}
.clear-all-filter{

	border-bottom: 1px dashed #4f4c4c;;
	font-size: 12px;
	font-weight: 600;
	color: #4f4c4c;
}
.clear-all-filter:hover{
	border-color: #fff;
}

.ocfilter .list-group-item_{
	border-radius: 6px;
	background-color: #ffffff;
	padding: 0;
	margin-bottom: 15px;
	border: solid 1px #e5e5e5;
	float: left;
	width: 100%;
}

.ocfilter .list-group-item_.ocfilter-option-price{
	border-radius: 0 0 6px 6px!important;
}

.ocfilter .zag4{
	font-size: 14px;
	color: #3c3c3c;
	padding: 10px 15px;
	cursor: pointer;
	float: left;
	width: 100%;
	font-weight: bold;

}

.ocfilter .no-price .zag4{
	background: #C8E9D3;
}

.ocfilter .zag4 span{
	max-width: 140px;
	display: block;
	float: left;
	font-weight: 600;
	color: #646464;
}
.ocfilter .zag4 i{
	font-size: 8px;
	float: right;
	-moz-transform: rotate(90deg);
	-ms-transform: rotate(90deg);
	-webkit-transform: rotate(90deg);
	-o-transform: rotate(90deg);
	transform: rotate(90deg);
	transition: all 0.3s ease-out 0s;
	margin-top: 5px;
	width: 8px;

}
.ocfilter .expanded .zag4 i{
	-moz-transform: rotate(0deg);
	-ms-transform: rotate(0deg);
	-webkit-transform: rotate(0deg);
	-o-transform: rotate(0deg);
	transform: rotate(0deg);
}
.ocfilter-option .option-values{
	clear: both;
	padding: 0 0px 0 15px;
	float: left;
	width: 100%;

}

.expanded.ocfilter-option .option-values{
	padding: 1px 0px 0 15px;
}

/*=Price filtering */
.option-values-price-filter{
	padding: 10px 20px!important;
}

#ocfilter-price .option-values{padding: 10px 10px 5px;}
.trackbar, .trackbar .left-block, .trackbar .right-block{height: 4px;}

.popover-content .form-inline{white-space: nowrap;}
.popover-content .form-inline .form-group{display: inline-block; margin-bottom: 0; vertical-align: middle;}

.scale{margin-bottom: 35px; margin-left: 15px; margin-right: 15px;}

.trackbar{background-color: #41AA35; margin:0; padding: 0;} /*=Width was given automatically */
.trackbar .handler-block{background-color: #DADADA; width: 0;}
.trackbar .left-block{border-radius: 3px 0 0 3px; float: left; margin: 0 0 0 -3px; padding: 0 0 0 3px;}
.trackbar .right-block{border-radius: 0 3px 3px 0; float: right; margin: 0 -3px 0 0; padding: 0 3px 0 0;}
.trackbar .trackbar-handler{-moz-box-sizing: content-box; -webkit-box-sizing: content-box; -o-box-sizing: content-box; box-sizing: content-box; border: 4px solid #04B6F0; background-color: #0E6A93; border-radius: 50% 50% 50% 50%; box-shadow: 0 1px 2px rgba(0, 0, 0, 0.2); cursor:pointer; width: 4px; height: 4px;margin-top: -4px;}
.scale.disabled .trackbar,
.scale.disabled .trackbar-handler{background-color: #F2F2F2;}
.scale.disabled .trackbar-handler{border-color: #BABABA;}

.trackbar .left-handler{float: right; margin-right: -6px;}
.trackbar .right-handler{float: left; margin-left: -6px;}

.trackbar-scale{height: 18px; line-height: normal; margin: 2px 0 0; padding: 0 8px 0 5px;}
.trackbar-scale a,
.trackbar-scale div{border-left: 1px solid #DADADA;display:block;float:left;margin-right: -2px;text-decoration: none;position: relative;height: 5px;}

.trackbar-scale a.last,
.trackbar-scale div.last{border-right: 1px solid #DADADA; margin-right: -4px;}

.trackbar-scale a:hover,
.trackbar-scale a:hover span,
.trackbar-scale a:hover + a .from{background-color: #F8F8F8; color:#000000;}

.trackbar-scale div{background-color: #0EB9F0;}
.trackbar-scale a span,
.trackbar-scale div span{color: #666666; font-size: 8px; position: absolute; top: 5px;}

.trackbar-scale a span.from,
.trackbar-scale div span.from{left: 0; }

.trackbar-scale a span.to,
.trackbar-scale div span.to{right: 0; }

/*=Price diagram */
.price-diagram{box-shadow: 0 1px 1px #DBDEE1 inset; background: #F2F2F2 url('../../image/ocfilter/diagram-bg-repeat.png') repeat 0 1px; border-radius: 3px 3px 3px 3px; overflow: hidden; margin: 10px 10px 5px 5px;}
.diagram-field{position:relative;margin: 0;height: 40px;}
.diagram-field circle{stroke-width: 2; opacity: 1;}
.diagram-field path{stroke-width: 1; opacity: 0.25; stroke-opacity: 1;}

.ocfilter .popover .form-inline .form-control{width: 100px;}
/* Position center style */

.ocfilter-content-top,

.ocfilter-content-bottom{}
.ocfilter-content-top .box-content,

.ocfilter-content-bottom .box-content{font-size: 0;}

.ocfilter-content-top .ocfilter-option,

.ocfilter-content-bottom .ocfilter-option{display: inline-block; vertical-align: top; width: 33%;}

.ocfilter-content-top .ocfilter-option + .ocfilter-option,

.ocfilter-content-bottom .ocfilter-option + .ocfilter-option{border-top: none;}

.zag-filter-price{
	padding:10px 15px;
	font-size: 14px;
	color: #000000;
}
#scale-price{
	margin: 0 0 5px 0;
	background: #ccc;
	height: 2px;
}
.filter-price-info{
	text-align: center;
	padding: 10px 0 30px 0;
}
