@font-face {
  font-family: 'lg';
  src:  url('fonts/lg.eot?aa2kwp');
  src:  url('fonts/lg.eot?aa2kwp#iefix') format('embedded-opentype'),
    url('fonts/lg.ttf?aa2kwp') format('truetype'),
    url('fonts/lg.woff?aa2kwp') format('woff'),
    url('fonts/lg.svg?aa2kwp#lg') format('svg');
  font-weight: normal;
  font-style: normal;
}

[class^="icon-"], [class*=" icon-"] {
  /* use !important to prevent issues with browser extensions that change fonts */
  font-family: 'lg' !important;
  speak: none;
  font-style: normal;
  font-weight: normal;
  font-variant: normal;
  text-transform: none;
  line-height: 1;

  /* Better Font Rendering =========== */
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

.icon-pause_circle_outline:before {
  content: "\e01a";
}
.icon-play_circle_outline:before {
  content: "\e01d";
}
.icon-stack-2:before {
  content: "\e033";
}
.icon-clear:before {
  content: "\e070";
}
.icon-arrow-left:before {
  content: "\e094";
}
.icon-arrow-right:before {
  content: "\e095";
}
.icon-vertical_align_bottom:before {
  content: "\e0f2";
}
.icon-apps:before {
  content: "\e1ff";
}
.icon-fullscreen:before {
  content: "\e20c";
}
.icon-fullscreen_exit:before {
  content: "\e20d";
}
.icon-zoom_in:before {
  content: "\e311";
}
.icon-zoom_out:before {
  content: "\e312";
}
.icon-share:before {
  content: "\e80d";
}
.icon-facebook-with-circle:before {
  content: "\e901";
}
.icon-google-with-circle:before {
  content: "\e902";
}
.icon-pinterest-with-circle:before {
  content: "\e903";
}
.icon-twitter-with-circle:before {
  content: "\e904";
}

