/*header*/
@media screen and (min-width: 1001px) {
 .header-wrapper * {
  box-sizing: content-box;
 }

 .main-header .search-container .search-btn {
  box-sizing: border-box;
 }

 .cart-items-wrapper .cart-item {
  position: relative;
 }

 .cart-items-wrapper .cart-item .btn-danger {
  position: absolute;
  top: -5px;
  right: -5px;
  padding: 1px 4px;

 }


 .cart-bt-block {
  float: left;
  width: 100%;
 }

 .return-pop-content .cart-bt-block > a {
  float: left;
 }

 .cart-items-wrapper .price-count .items-count {
  line-height: 30px;
 }

 #discount-block-container {
  padding: 5px 0;
 }
}

.main-header .view-in-popap {
 display: none!important;
}

/*login form*/
.has-error input[type="text"], .has-error input[type="password"], .has-error input[type="date"], .has-error textarea, .has-error select {

 border:1px solid red;
}
.sort-filters-left{
 float: left;
 width: 48%;
}
.sort-filters-right{
 float: right;
 width: 80px;
}

#dsl_google_button{
 background:  #dd4b39}
#dsl_google_button:active{
 background: #be3e2e;
}
#dsl_facebook_button{
 background:  #4864b4}
#dsl_google_button:active{
 background: #3a5192;
}
#dsl_linkedin_button{
 background:  #2a72b6}
#dsl_google_button:active{
 background: #21588d;
}
#dsl_vkontakte_button{
 background:  #5b82ab}
#dsl_google_button:active{
 background: #466382;
}
#dsl_yandex_button{
 background:  #d83933}
#dsl_google_button:active{
 background: #a62d29;
}
#dsl_yahoo_button{
 background:  #500095}
#dsl_google_button:active{
 background: #3d026f;
}

#d_social_login .dsl-button{
 font-size: 16px;
 text-decoration: none;
 color: #fff;
 display: inline-block;
 box-sizing: border-box;
 -webkit-border-radius: 3px;
 -moz-border-radius: 3px;
 border-radius: 3px;
 box-shadow: 0 1px 0 rgba(0,0,0,0.10);
 margin: 2px;
 margin-bottom: 10px;
 padding:0px;
}
#d_social_login  .dsl-button:hover{
 text-decoration: none;
 box-shadow: inset 0 -2px 0 rgba(0,0,0,0.20);
}
#d_social_login .dsl-button:active{
 box-shadow: inset 0 2px 0 rgba(0,0,0,0.20);
}
#d_social_login .dsl-button.dsl-button-medium .l-side,
#d_social_login .dsl-button .l-side{
 padding: 5px 5px 0px 5px;
 border-right: 1px solid rgba(255,255,255,0.3);
 color: #fff;
 display: inline-block;
 font-size: 17px;
 vertical-align: middle;
 box-sizing: border-box;
 text-shadow: 0px -1px 0px rgba(0, 0, 0, 0.3);
 position: relative;
}
#d_social_login .dsl-button.dsl-button-medium .r-side,
#d_social_login .dsl-button .r-side{
 padding: 6px 10px 6px 10px;
 color: #fff;
 display: inline-block;
 font-size: 12px;
 vertical-align: middle;
 box-sizing: border-box;
 text-shadow: 0px -1px 0px rgba(0, 0, 0, 0.3);
}
#d_social_login .dsl-button.dsl-button-huge .l-side {
 font-size: 26px;
 padding: 8px 10px 8px 8px;
}
#d_social_login .dsl-button.dsl-button-huge .r-side {
 font-size: 15px;
 padding: 12px 20px 11px 20px;
}
#d_social_login .dsl-button.dsl-button-large .l-side {
 font-size: 20px;
 padding: 6px 6px 0px 6px;
}
#d_social_login .dsl-button.dsl-button-large .r-side {
 font-size: 13px;
 padding: 8px 16px 7px 16px;
}
#d_social_login .dsl-button.dsl-button-small .l-side {
 font-size: 14px;
 padding: 4px 4px 0px 4px;
}
#d_social_login .dsl-button.dsl-button-small .r-side {
 font-size: 10px;
 padding: 4px 5px 3px 5px;
}

#d_social_login .dsl-button.dsl-button-icons .l-side {
 font-size: 17px;
 padding: 5px 5px 0px 5px;
 border: none;
}
#d_social_login .dsl-button.dsl-button-icons .r-side {
 display: none;
}
a [class*="dsl-icon-"],
[class*="dsl-icon-"],
[class*="dsl-icon-"]:before{
 margin:0px !important;
 background-image:none !important;
}
.dsl-label {
 display: none;
 vertical-align: middle;
}
.dsl-label-icons{
 display: inline-block;
}
.dsl-hide-icon{
 opacity: 0
}

/*list card*/
.price_text{
line-height: 14px;
font-size: 14px;
color: #000;
 width: 100%;
 display: block;
}
.td_option_price .price_text{
 padding: 0 10px 5px 0;
}

.price-with-old .price_text{


}

.price-with-old{
 position: relative;
 color: red;
 width: 100%;
 line-height: 15px;
}
.price-with-old .price-old{
 text-decoration: line-through;
 font-size: 12px;
 display: block;
 width: 100%;
 color: red;
}

/*category*/
.button-block-show-more{
 float: left;
}
.catalog-wrapper.catalog-wrapper2{
 width: 100%;
 margin-left: 0;
}
.category-middle_text, .category-up-text{
 padding: 15px 0 30px 0;
}
/*product-list*/
.products-wrapper .switch-items .button_curier {
 width: 80px;
 display: inline-block;

}
.products-wrapper .switch-items .price-value.sum {
 width: 115px;
 display: inline-block;
}
.products-wrapper .switch-items .btn.btn-wishlist{
 height: auto;
 background: none;
 padding: 0;
 margin: 0;
 width: 100%;
 text-align: center;
 font-size: 12px;
 text-decoration: none;
 color: #6cd48f;
 text-shadow: none;
 margin-top: 5px;
}

/*products*/
.product-consist {
 padding-bottom: 26px ;
}

.nav-tabs {
 border-bottom: 0px solid #ddd;
}
.nav-tabs > li > a{
 border: 0px solid #ddd;
 color: #555;
 line-height: 1;
}
.nav-tabs > li > a:hover{
 background: none;
}
.nav-tabs > li.active > a, .nav-tabs > li.active > a:focus, .nav-tabs > li.active > a:hover {
 cursor: default;
 background-color: #fff;
 border: 0px solid #ddd;
 border-bottom-color: transparent;
 box-shadow: 0 -3px 10px rgba(0,255,0,0.2);
 padding: 10px 10px;

}

.nav.nav-tabs.menu_products_properties li {
 display: inline-block;
 font-size: 18px;
 background: none;
 padding: 0;
 margin-top: 20px;
 box-shadow: 0px 4px 10px rgba(110,110,110,0.3);
 cursor: pointer;
}
.nav.nav-tabs.menu_products_properties li .tab-pane {
 font-size: 14px;
}

.nav.nav-tabs.menu_products_properties li.active {
 box-shadow: 0 -3px 10px rgba(0,255,0,0.2);

}
.nav.nav-tabs.menu_products_properties li a:hover {
 background: none;

}
.tab-content > div {
 display: none;
 position: relative;
 padding: 20px;
 box-shadow: 0 0 10px rgba(0,255,0,0.2);
}

.tab-content .tab-hidden{
 display: none;
}
.tab-content table{
 max-width: 100%!important;
}



.hided-block-inner table thead td, .hided-block-inner table th .tab_propertres table thead td, .tab_propertres table th { padding: 12px 8px; color: #000000; font-family: helveticaNCR, Tahoma, Verdana, sans-serif; font-size: 16px; font-weight: bold; }
.hided-block-inner table tbody td, .tab_propertres table tbody td { padding: 6px 8px; color: #000000; }
.hided-block-inner table tbody tr:nth-child(odd) td, .tab_propertres table tbody tr:nth-child(odd) td { background: none; }
.hided-block-inner table tbody tr:nth-child(even) td, .tab_propertres table tbody tr:nth-child(even) td { background: #f4f3f3; }
.product-page-wrapper .product-links {display: none !important;}
.price_buy_block {display: inline-block;width: 0;height: 0;overflow: hidden;text-indent: -10000px;}
.product-options-wrapper .out-p-button {width:100%;height:45px;line-height:1.4em;}
.delivery_block_mobile_in { width: 298px;    left: 0;    margin-left: -53px;    font: 14px/18px helveticaNCR, Tahoma, Verdana, sans-serif;
 color: #666666;}
.delivery_block_mobile_in .tip-body:before {    margin-left: 0;left:60px;}

.jcarousel  .slick-slide {
 float: left;
 display: inline-block;
 text-align: center;
 height: 77px;
 line-height: 73px;
 overflow: hidden;


}
.jcarousel  .slick-slide  .thumbnails{
 width: 77px;
 height: 77px;
 display: block;
 margin: 0 auto;
 -webkit-border-radius: 4px;
 -moz-border-radius: 4px;
 -ms-border-radius: 4px;
 -o-border-radius: 4px;
 border-radius: 4px;
 border: 1px solid #eeeeee;
 background: #ffffff;


}

/**/
.categories-with-brand .close-item{
  display: none;
}

/*popup*/

body .ui-widget-overlay {
 background: #000000!important;
 opacity: .6!important;
 filter: Alpha(Opacity=60)!important;
 z-index: 1001!important;

}
.regions_dialog.ui-dialog {
 padding: 0;
 margin: 0 auto;
 left: 0;
 right: 0;
 z-index:99999!important;
}

.edit_container{
 position: absolute;
 top:10px;
 width: 100%;
 left: 0;
 z-index: 999;
 height: 40px;
 background: rgba(0,0,0,.5);
 display: none;
 text-align: center;
}
.main_product_block_sale_img{
 position: relative;
}

.prod-link-container:hover .edit_container, .main_product_block_sale_img:hover .edit_container{
 display: block;
}
.edit_container a{
 display: block;
 color: #ffffff;
}
.reorder-full{
 padding: 15px;
 text-align: right;
}


.fast-view{
 position: absolute;
 left: 0;
 right: 0;
 z-index: 7;
 margin: 0 auto;
 top:40%;
 width: 60px;
 height: 60px;
 background: rgba(253, 146, 81,1);
 display: block;
 text-align: center;
 cursor: pointer;
 opacity: 0;
 border-radius: 30px;
 transition: opacity 0.2s;
}
.fast-view span > span{
 display: none;
}
.fast-view i{
 padding-top:12px ;
 font-size: 30px;
 color: #FFFFFF;
}

.tooltip-inner {
 background: rgba(253, 146, 81,1);
}
.tooltip-arrow{
 border-top-color: rgba(253, 146, 81,1)!important;
}


.prod-link-container:hover .fast-view, .main_product_block_sale_img:hover .fast-view{
 opacity: .9;
}
.fast-view a{
 display: block;
 color: #ffffff;
}
.product-page-short{
 position: relative;
 background: #FFF;
 width: 80%;
 max-width: 767px;
 margin: 0 auto;
 padding: 15px 25px 25px;
 -webkit-box-shadow: 0 0 25px rgba(0, 0, 0, 0.06);
 -moz-box-shadow: 0 0 25px rgba(0, 0, 0, 0.06);
 box-shadow: 0 0 25px rgba(0, 0, 0, 0.06);
 border: 1px solid #eeeeee;
 -webkit-border-radius: 5px;
 -moz-border-radius: 5px;
 -ms-border-radius: 5px;
 -o-border-radius: 5px;
 border-radius: 5px;

}
.product-page-short .prod-link-container{
 padding: 10px;
 text-align: center;
 font-size: 22px;
}
.product-page-short  .zag2{
 font-size: 18px;
 text-align: center;
}
.product-page-short  .main_product_block_sale h1{
 padding-bottom: 30px;
}
.product-page-short .main_product_block_sale_img {
 width: 25%;
}
.product-page-short .main_product_block_sale_price{
 width: 70%;
 float: right;
}
.product-page-short .main_product_block_sale_price_list {
 width: 100%;
 padding:0 15px;
}
.popup-view-dawn-content{
 width: 100%;
 float: left;
}

.popup-view-dawn-content .characteristics-table{
 width: 100%;
 float: left;
}
.popup-view-dawn-content .main_product_block_sale_price_button{
 width: 40%;
 float: right;
}
.popup-view-dawn-content .main_product_block_sale_price_button .all_price{
 border: 1px solid #ddd!important;
 border-radius: 5px;
}
