* html {
    font-size: 87.5%;
}

html {
    font-size: 14px;
    line-height: 1.28571em;
}

* {
    outline: none !important;
}

html, body, div, span, object, iframe,
h1, h2, h3, h4, h5, h6, p, blockquote, pre,
abbr, address, cite, code,
del, dfn, em, img, ins, kbd, q, samp,
small, strong, sub, sup, var, button,
b, i,
dl, dt, dd, ol, ul, li,
fieldset, form, label, legend,
table, caption, tbody, tfoot, thead, tr, th, td,
article, aside, canvas, details, figcaption, figure,
footer, header, hgroup, menu, nav, section, summary,
time, mark, audio, video {
    margin: 0;
    padding: 0;
    border: 0;
    outline: 0;
    vertical-align: baseline;
    background: transparent;
}

html {
    height: 100%;
}

body {
    font-family: 'Open Sans', sans-serif, Verdana, sans-serif;
    color: #333333;
    background: #fbfbfb;
    height: 100%;
}

.sans-serif {
    font-family: 'Open Sans', sans-serif;
}

h1, h2, h3, h4, h5, h6 {
    font-family: 'Open Sans', sans-serif;
    line-height: 1.2em;
    font-weight: normal;
    color: #000000;
}

h1 {
    font-size: 25px;
}

h2 {
    font-size: 25px;
}

h3 {
    font-size: 18px;
}

h4 {
    font-size: 16px;
    font-family: 'Open Sans', sans-serif, Verdana, sans-serif;
    font-weight: bold;
}

h5 {
    font-size: 14px;
    font-family: 'Open Sans', sans-serif, Verdana, sans-serif;
    font-weight: bold;
}

h6 {
    font-size: 9.38px;
}

ul, ol {
    margin: 0;
    padding: 0;
}

ul li, ol li {
    margin: 0;
    padding: 0;
}

p {
    margin: 15px 0;
    padding: 0;
}
.header-wrapper {
    background: #ffffff;
}

 a {
    color: #62c081;
    text-decoration: none;
}
a:hover {
    text-decoration: none;
    color: #6cd48f;
}

.pagenator {
    overflow: hidden;
    margin-top: 30px;
}

.pagenator .page {
    height: 32px;
    width: 32px;
    line-height: 30px;
    text-align: center;
    float: left;
    padding: 0;
    margin-right: 8px;
    margin-bottom: 8px;
}

.pagenator .page + .page {
}

.pagenator .page.active {
    background: #3f935b;
    border-color: transparent;
    -webkit-box-shadow: inset 0 2px 0 #33844e;
    -moz-box-shadow: inset 0 2px 0 #33844e;
    box-shadow: inset 0 2px 0 #33844e;
}
.footer-down2 {
    min-height: 100%;
    margin-bottom: -239px;
    background: #fff;

}
.main-header {
    height: 50px;
    position: relative;
    padding: 9px 0 5px 0;
    margin: 0 auto;
    width: 1200px;
}
.center-wrapper {
    width: 1200px;
    padding: 0 15px;
    box-sizing: content-box;
    margin: 0 auto;
}
.link-type-product{
    padding-left: 5px;
    margin-left: 30px;
}

@media screen and (max-width: 1199px) {
    .center-wrapper, .main-header {
        width: 100%;
    }
}
