
 .simple-content input[type="radio"] + label{
    padding: 0 0 0 30px;
    position: relative;
}
.simple-content   input[type="radio"]{
    display: none;
}
 .simple-content input[type="radio"] + label:before{
    content: '';
    width: 22px;
    height: 22px;
    border: 1px solid #d6d6d6;
    position: absolute;
    left: 0;
    top: 0px;

}
 .simple-content  input[type="radio"]:checked + label:before {
    border: solid 1px #62c081;
}
 .simple-content  input[type="radio"]:checked + label:after {
    font-family: 'icomoon';
    position: absolute;
    left: 2px;
    top: -2px;
    content: "\e912";
    font-size: 12px;
    color:  #62c081;
}


.simple-content {
    margin: 0px 5px;
}
.simple-content fieldset {
    text-align: left;
}
.simple-content fieldset h3 {
    margin: 0;
}
.simple-content .name {
    float: none !important;
    font-weight: bold;
}
.simple-content .button, #simplecheckout_login .button {
    margin: 0px !important;
    cursor: pointer;
}
.simple-content .buttons {
    margin: 0px 0px 15px 0px;
    border: none;
}
.simple-content .form-control {
    width: 100%;
}
#simplecheckout_login .buttons {
    margin: 0;
    border: none;
    background: inherit !important;
    padding: 0px !important;
}
.simplecheckout {
    width:100%;
}
.simplecheckout:after {
    content:"";
    display:block;
    clear:both;
}
.simplecheckout-three-column {
    float:left;
    margin-right:2%;
    min-width: 200px;
    max-width: 500px;
    width:32%;
}
.simplecheckout-three-column + .simplecheckout-three-column + .simplecheckout-three-column {
    margin-right:0px;
    float: right;
}
@media only screen and (max-width:768px) {
    .simplecheckout-three-column {
        display:block;
        float: none;
        min-width: auto !important;
        max-width: 1900px !important;
        width: 100%;
    }
}
.simplecheckout-left-column {
    float:left;
    width:50%;
}
.simplecheckout-right-column {
    float:right;
    min-width: 280px;
    max-width: 900px;
    width:50%;
}
@media only screen and (max-width:1024px) {
    .simplecheckout-left-column {
        display:block;
        float: none;
        min-width: auto !important;
        max-width: 1900px !important;
        width: 100%;
        padding-bottom: 45px;
    }
    .simplecheckout-right-column {
        display:block;
        float: none;
        min-width: auto !important;
        max-width: 1900px !important;
        width: 100%;
    }
}
@media only screen and (max-width:1200px) {
    .simplecheckout label.col-sm-2 {
        padding-left: 5px;
        padding-right: 5px;
    }
}
@media only screen and (max-width:768px) {
    .simplecheckout label.col-sm-2 {
        padding-left: 15px;
        padding-right: 15px;
    }
}
.simplecheckout-block {
    clear: both;
}


.simplecheckout-block-content {
    padding: 0 10px;
}
.simplecheckout-block-content:after {
    content:"";
    display:block;
    clear:both;
}
.simpleregister {
    margin-bottom: 5px;
}
.simpleregister-block-content {
    margin-bottom: 10px;
    padding: 10px;
}
.simpleregister-block-content:after {
    content:"";
    display:block;
    clear:both;
}
.simpleregister-block-content .simplecheckout-table-form-left {
    width: 50%;
}
.simpleregister-block-content .form-group > div, .simpleregister-block-content .form-group > label {
    width: 100%;
    float: left;
}
.simpleregister-block-content .form-group > label{
    color: #000000;
    text-align: left;
    margin-bottom: 7px;
}


@media only screen and (max-width:600px) {
    .simpleregister-block-content .simplecheckout-customer {
        width: 100%;
    }
}
.simpleregister-button-block {
    overflow: auto;
    margin-bottom: 20px;
    padding: 6px;

    background: none;
    text-align:left;
}
.simpleregister-button-right {
    float: right;
    text-align: right;
}
.simpleregister-button-left {
    float: left;
    text-align: left;
}
.simplecheckout-methods-table {
    width: 100%;
}
.simplecheckout-methods-table td.code {
    width: 1px;
}
.simplecheckout-methods-table td.title {
    padding: 5px;
}
.simplecheckout-methods-table td.title label {
    display: block !important;
}
.simplecheckout-methods-table td.quote {
    width: 15%;
    text-align: right;
}
.simplecheckout-methods-description {
    padding: 5px;
    margin: 5px 0px;
}
.simplecheckout-required {
    color: #FF0000;
    font-weight: bold;
}
.simplecheckout-button-block {
    clear: both;
    overflow: auto;
    margin-bottom: 20px;
    padding: 6px;

    background: none;
    text-align:right;
}
.simplecheckout-button-right {
    float: right;
    text-align: right;
}
.simplecheckout-button-left {
    float: left;
    text-align: left;
}
.simplecheckout-button {
    display: inline-block;
    padding: 6px 12px 6px 12px;
    -webkit-border-radius: 7px 7px 7px 7px;
    -moz-border-radius: 7px 7px 7px 7px;
    border-radius: 7px 7px 7px 7px;
    background: url('../image/button.png') top left repeat-x;
    -webkit-box-shadow: 0px 2px 2px #DDDDDD;
    -moz-box-shadow: 0px 2px 2px #DDDDDD;
    box-shadow: 0px 2px 2px #DDDDDD;
    color: #FFFFFF;
    text-decoration: none;
    font-weight: bold;
    font-size: 12px;
    line-height: 12px;
    cursor: pointer;
    -khtml-border-radius: 7px 7px 7px 7px;
}
.simplecheckout-button-left .button {
    margin: 0;
}
@media only screen and (max-width:780px) {
    .simplecheckout-button-left {
      /*  display: none;*/
        padding: 20px 0 0 0;
    }
}
.simplecheckout-button:hover {
   background: url('../image/button-active.png') repeat-x;
}

#simplecheckout_customer .simplecheckout-block-content {
    text-align: center;
}
.simplecheckout-login {
    display: inline-block;
}
.simplecheckout-login-left {
    width:50%;
    text-align: left;
}
.simplecheckout-login-right {
    width:50%;
    text-align:left;
}
.simplecheckout-login-right .button {
    float: left;
    margin: 0;
}
.simplecheckout-login-right input {
    max-width: 160px !important;
    text-align:left;
}
#simplecheckout_cart .form-control {
    display: inline-block !important;
    min-width: 50px;
}
.simplecheckout-cart {
    margin: 0px !important;
    width: 100%;
    border-collapse: collapse;
    border-top: 0px solid #DDDDDD;
    border-right: 0px solid #DDDDDD;
    border-left: 0px solid #DDDDDD;
}
.simplecheckout-cart-total {
    padding: 7px 3px;
    border-right: 0px solid #DDDDDD;
    border-bottom: 0px solid #DDDDDD;
    border-left: 0px solid #DDDDDD;
    text-align: left;
}
.simplecheckout-cart-total:after {
    content:"";
    display:block;
    clear:both;
}
.simplecheckout-cart-total .buttons {
    background: inherit !important;
    padding: 0px !important;
}
.simplecheckout-cart-total input {
    margin-right: 0px !important;
    max-width: 100px;
}
.simplecheckout-cart-total span.inputs {
    margin: 0 3px 0 0 !important;
    display: inline-block !important;
}
.simplecheckout-cart-total span.inputs input[type=text]{
    margin: 0px;
}
.simplecheckout-cart-total-value {
    display: inline-block;
    margin: 0px 3px;
    min-width: 60px;
}
.simplecheckout-cart-total-remove {
    display: inline-block;
    width: 18px;
    text-align: center;
}
.simplecheckout-cart-total-remove img {
    vertical-align: -2px;
    cursor: pointer;
}
.simplecheckout-cart col.image {
    width: 5%;
}
.simplecheckout-cart col.name {

}
.simplecheckout-cart col.model {
    width: 10%;
}
.simplecheckout-cart col.quantity {

}
.simplecheckout-cart col.price {
    width: 10%;
}
.simplecheckout-cart col.total {
    width: 10%;
}
.simplecheckout-cart col.remove {
    width: 7px;
}
.simplecheckout-cart th {
    padding: 8px;
    border-bottom: 0px solid #DDDDDD;
    background-color: #F8F8F8;
    color: #4D4D4D;
    font-weight: bold;
}
.simplecheckout-cart th.image {
    width: 1px;
    text-align: center;
    display: table-cell;
    vertical-align: middle;
    position: static !important;
}
.simplecheckout-cart th.name {
    text-align: center;
}
.simplecheckout-cart th.model {
    text-align: center;
}
.simplecheckout-cart th.quantity {
    text-align: center;
}
.simplecheckout-cart th.price {
    text-align: right;
    display: table-cell !important;
    font: inherit !important;
    font-weight: bold !important;
}
.simplecheckout-cart th.total {
    text-align: right;
    display: table-cell !important;
    font: inherit !important;
    font-weight: bold !important;
}
.simplecheckout-cart th.remove {
    width: 7px;
    text-align: center;
}
.simplecheckout-cart td {
    padding: 7px;
    border-bottom: 1px solid #DDDDDD;
    vertical-align: top;
}
.simplecheckout-cart td.image {
    text-align: center;
    display: table-cell;
    vertical-align: middle !important;
    position: static !important;
}
.simplecheckout-cart td.name {
    text-align: center;
}
.simplecheckout-cart td.name div.image {
    display: none;
}
.simplecheckout-cart td.model {
    text-align: center;
}
.simplecheckout-cart td.quantity {
    min-width:70px;
    vertical-align:top;
    text-align: center;
    white-space: nowrap;
}
.simplecheckout-cart td.quantity input {
    float: none !important;
}
.simplecheckout-cart  td.quantity .input-group {
    margin: auto !important;
}
.simplecheckout-cart  td.quantity .quantity button {
    margin: 0 !important;
}
.simplecheckout-cart td.quantity img {
    display:inline-block;
    border: 0px;
    cursor:pointer;
}
.simplecheckout-cart td.price {
    text-align: right;
    white-space: nowrap;
    display: table-cell !important;
    font: inherit !important;
}
.simplecheckout-cart td.total {
    text-align: right;
    white-space: nowrap;
    display: table-cell !important;
}
.simplecheckout-cart td.remove {
    padding-right: 3px;
    padding-left: 3px;
    width: 7px;
    vertical-align: top;
    text-align: center;
}
.simplecheckout-cart td.remove img {
    max-width: 30px !important;
    cursor: pointer;
}
.simplecheckout-cart td.product-warning {
    color: #FF0000;
    font-weight: bold;
}
.simplecheckout-cart td.right {
    vertical-align: middle;
    text-align: right;
}
.simplecheckout-three-column .simplecheckout-cart col.image,
.simplecheckout-three-column .simplecheckout-cart th.image,
.simplecheckout-three-column .simplecheckout-cart td.image,
.simplecheckout-three-column .simplecheckout-cart col.price,
.simplecheckout-three-column .simplecheckout-cart th.price,
.simplecheckout-three-column .simplecheckout-cart td.price,
.simplecheckout-three-column .simplecheckout-cart col.model,
.simplecheckout-three-column .simplecheckout-cart th.model,
.simplecheckout-three-column .simplecheckout-cart td.model {
    display: none;
}
.simplecheckout-three-column .simplecheckout-cart td.name .image {
    display: block;
}
.simplecheckout-scroll{
    overflow-y:scroll;
    max-height:300px;
}
.simplecheckout-error-text {
    display: block;
    margin-top: 3px;
    color: #FF0000;
}
.simplecheckout-warning-text {
    margin: 5px 0;
    font-weight: bold;
}
.simplecheckout-warning-block {
    clear: both;
    margin-bottom: 15px;
    padding: 10px 10px 10px 33px;
    border: 1px solid #F8ACAC;
    border-radius: 5px 5px 5px 5px;
    background: url("../image/warning.png") no-repeat scroll 10px center #FFD1D1;
    color: #555555;
    text-align: left;
}
.simpleregister-warning-block {
    margin-bottom: 15px;
    padding: 10px 10px 10px 33px;
    border: 1px solid #F8ACAC;
    border-radius: 5px 5px 5px 5px;
    background: url("../image/warning.png") no-repeat scroll 10px center #FFD1D1;
    color: #555555;
    text-align: left;
}
.simplecheckout-proceed-payment {
    display: none;
    margin-bottom: 10px;
    padding: 10px;
    text-align: center;
    font-weight: bold;
}
#simple_payment_address_block {
    margin-top: 15px;
}
.simplecheckout-customer-same-address {
    text-align: left;
    margin: 15px 0px;
}
#simplecheckout_login {
    margin: auto;
    text-align: center;
}
#simplecheckout_payment_form {
    padding: 5px;
}
#simplecheckout_payment_form .checkout-content {
    display: block;
}
#simplecheckout_payment_form div.buttons {
    display: none;
}
#simplecheckout_login .simplecheckout-block-content {
    padding: 5px !important;
}
#simple_login_layer {
    position:absolute;
    top:0;
    left:0;
    z-index:99990;
    display:none;
    width:100%;
    background-color:#000000;
}
#simple_login {
    position:fixed;
    z-index:99991;
    display: none;
    padding:5px;
    width:300px;
    height:250px;
    border:1px solid #FFD9FF;
    -webkit-border-radius:7px 7px 7px 7px;
    -moz-border-radius:7px 7px 7px 7px;
    border-radius:7px 7px 7px 7px;
    background:none repeat scroll 0 0 #FFFFFF;
    -khtml-border-radius:7px 7px 7px 7px;
}
#simple_login:after {
    content:"";
    display:block;
    clear:both;
}
#simple_login_header {
    padding: 0px 0px;
    text-align: right;
}
#simple_login_header img {
    margin: 0 0 0 auto;
}
.you-will-be-registered {
    font-weight: bold;
}
.simplecheckout label, .simpleregister label {
    display: inline-block !important;
    margin: 0;
    font-weight: normal;
    color: #000;
}
.simplecheckout label input, .simpleregister label input {

}
#simple_summary {
    display: none;
}
#simplecheckout_step_menu {
    margin: 0 0 20px 0;
    padding: 3px 0;
    border: 0px solid #ddd;
}
.simple-step {
    text-shadow: 0 1px 0 #FFF;
    padding: 0 20px;
    position: relative;
    white-space: nowrap;
    display: inline-block;
    list-style: none;
    width: 283px;
    height: 44px;
    background-color: #efefef;
    font-size: 14px;
    color: #303030;
    line-height: 42px;
}

.simple-step-current {
    display: inline-block;
    background-color: #38B0E3;
    font-size: 18px;
    line-height: 38px;
    font-weight: 600;
    color: #ffffff;
    text-shadow: none;
}
.simple-step.simple-step-completed {
    text-shadow: none;
}

.simple-step{
    background:#eeeeee url("../image/simple-step.jpg") right 0 no-repeat;
}
.simple-stepc
    background:#62c081 url("../image/step_current.jpg") right 0 no-repeat;
}
.simple-step.simple-step-completed{
    background:#62c081 url("../image/step_current.jpg") right 0 no-repeat;
}

.simple-step.simple-step-1{
    background:#62c081 url("../image/step_current.jpg") right 0 no-repeat;
}
.simple-step.simple-step-1.simple-step-completed{
    background:#62c081 url("../image/simple-step-completed.jpg") right 0 no-repeat;
}
.simple-step.simple-step-current{
    background:#62c081 url("../image/step_current.jpg") right 0 no-repeat;
}
.simple-step-2.simple-step-completed{
    background:#62c081 url("../image/simple-step-completed.jpg") right 0 no-repeat;
}

.simple-step.simple-step-3{
    background:#eeeeee url("../image/simple-step-last.jpg") right 0 no-repeat;
}
.simple-step.simple-step-3.simple-step-current{
    background:#62c081 url("../image/simple-step-last-copmplete.jpg") right 0 no-repeat;
}
.simple-step-completed{
    cursor: pointer;
}



.simple-step-delimiter {
    display: inline-block;
    vertical-align: middle;
    line-height: 13px;
    margin: 0px 5px;
}
.simple-step-completed {
    display: inline-block;
    background-color: #38B0E3;
    color: #FFFFFF;
    font-size: 13px;
}
.simple-step-completed a {
    color: #FFFFFF !important;
    text-decoration: none !important;
    font-size: 13px !important;
}



.simplecheckout-summary-info {
    margin-top: 15px !important;
}
.simplecheckout-summary-info th.name {
    text-align: left;
}
.simplecheckout-summary-info td {
    text-align: left;
}
.simplecheckout-cart-buttons .buttons {
    border: none !important;
    padding: 0 !important;
}
#simple_login .simplecheckout-block-content {
    border: none !important;
}
#temp_flat_container {
    text-align: center;
    margin: 0px 0px 0px 0px;
}
#simplecheckout_comment .simplecheckout-block-content {
    border: 0 !important;
    padding: 0 !important;
}
#simplecheckout_comment textarea {
    width: 100% !important;
    -moz-box-sizing: border-box;
    box-sizing: border-box;
    min-height: 70px;
}
.simplecheckout-table-form {
    width: 49%;
    margin-right: 1%;
    float: left;
    text-align: left;
}
@media only screen and (max-width:768px) {
    .simplecheckout-table-form {
        width: 100%;
        margin-right: 0%;
        float: none;
    }
}
.simplecheckout-three-column .simplecheckout-table-form,
.simplecheckout-left-column .simplecheckout-table-form,
.simplecheckout-right-column .simplecheckout-table-form {
    width: 100%;
    margin-right: 0%;
    float: none;
}
.simplecheckout-table-form-left {
    width: 50%;
    text-align: left;
    padding: 3px;
    vertical-align: top;
}
.simplecheckout-table-form-right {
    width: 50%;
    text-align: left;
    padding: 3px;
}
.simplecheckout-table-form-right input[type=text],
.simplecheckout-table-form-right input[type=password],
.simplecheckout-table-form-right input[type=email],
.simplecheckout-table-form-right input[type=tel],
.simplecheckout-table-form-right input[type=phone],
.simplecheckout-table-form-right input[type=date],
.simplecheckout-table-form-right input[type=time],
.simplecheckout-table-form-right select,
.simplecheckout-table-form-right textarea {
    width: 100%;
    -moz-box-sizing: border-box;
    box-sizing: border-box;
    margin: 0px !important;
}
.simplecheckout-table-form-right label {
    display: block !important;
}
.simplecheckout-table-form-right label input {
    margin: 0px 5px 0px 0px !important;
}
.checkout-heading:after {
    content:"";
    display:block;
    clear:both;
}
.col-sm-12 .checkout-heading {
    background-color: #f5f5f5;
    border-color: #ddd;
    color: #333;
    border-top-left-radius: 3px;
    border-top-right-radius: 3px;
    padding: 10px 15px;
}
.checkout-heading span {
    display: inline-block !important;
    float: left;
}
.checkout-heading-button {
    float: right !important;
    display: inline-block !important;
}
.simplecheckout-select-address {
    text-align: left;
    margin-bottom: 10px;
}
.simple-captcha-container {
    margin-top: 5px;
}
.simplecheckout-tooltip {
    display: none;
}
#easyTooltip {
    padding:5px;
    border:1px solid #ccc;
    background:#fde910;
    -webkit-border-radius: 5px 5px 5px 5px;
    -moz-border-radius: 5px 5px 5px 5px;
    -khtml-border-radius: 5px 5px 5px 5px;
    border-radius: 5px 5px 5px 5px;
    -webkit-box-shadow: 0px 2px 2px #DDDDDD;
    -moz-box-shadow: 0px 2px 2px #DDDDDD;
    box-shadow: 0px 2px 2px #DDDDDD;
    opacity:1 !important;
}
#easyTooltip:before {
    content:'';
    position:absolute;
    left:10px;
    top:-8px;
    width: 0;
    height: 0;
    border-left: 6px solid transparent;
    border-right: 6px solid transparent;
    border-bottom: 8px solid #fde910;
}
.simplecheckout-cart i {
    cursor: pointer;
}

.simple-content .table-responsive{
    margin-bottom: 0 !important;
    border: none !important;
}

@media only screen and (max-width:640px) {
    .simplecheckout-cart col.image,.simplecheckout-cart th.image,.simplecheckout-cart td.image {
        display: none;
    }
    .simplecheckout-cart col.model,.simplecheckout-cart th.model,.simplecheckout-cart td.model {
        display: none;
    }
    .simplecheckout-cart col.price,.simplecheckout-cart th.price,.simplecheckout-cart td.price {
        display: none;
    }
    .simplecheckout-cart td.name div.image {
        display: block;
    }
    .simplecheckout-cart td.name div.options {
        display: none;
    }
}
@media only screen and (max-width:1000px) {
    .simplecheckout-cart col.model,.simplecheckout-cart th.model,.simplecheckout-cart td.model {
        display: none;
    }
}
@media only screen and (max-width:600px) {
    #total_shipping span:first-child {
        max-width: 300px;
        display: inline-block;
    }
    td.quantity button[data-onclick*="Quantity"] {
        display: none;
    }
}
@media only screen and (max-width:420px) {
    #total_shipping span:first-child {
        max-width: 200px;
        display: inline-block;
    }
}

/**/
.form-control.form-quantity{
    border: 0;
    width: 50px;
}

.cart-items-wrapper .price-count .counter {
   text-align: center;
}
.cart-items-wrapper .cart-item-info .options{
    padding: 5px 0;
}
.cart-items-wrapper.clearfix{
    border-bottom: 0px solid #eeeeee;

}
.simplecheckout-cart-total.total_total span{

    font-size: 24px;
    font-weight: 600;
    color: #000000;
    text-transform: uppercase;
}
.simplecheckout-cart-total-right{
    text-align: right;
}
.simplecheckout label.dsl-label{
    display: none!important;

}
.simplecheckout  #d_social_login{
    padding: 10px 0;
}

.simplecheckout-block .control-label.col-sm-3{
    text-align: left;
    color: #000000;
    margin-bottom: 7px;
    padding: 0;
    font-weight: normal;
}
.simplecheckout-block  .col-sm-9{
    padding: 0;
}

.simplecheckout-block  input[type="text"], .simplecheckout-block  textarea, .simplecheckout-block  select {
    -webkit-border-radius: 0;
    -moz-border-radius: 0;
    -ms-border-radius: 0;
    -o-border-radius: 0;
    border-radius: 0;
    border: solid 1px #d1d1d1;
    display: block;
    line-height: 20px;
    -webkit-box-sizing: border-box;
    -moz-box-sizing: border-box;
    box-sizing: border-box;
    outline: 0;
    padding: 0 11px;
    font-size: 14px;
    color: #666666;
    width: 100%;
    height: 46px;
}
.simplecheckout-block  input[type="radio"]{
    width: 20px;
    float: left;
    height: auto;
}
.checkout-heading.panel-heading .btitle {
    margin: 0 0 10px 0;
    font-size: 16px;
    font-weight: bold;
}
.form-group-customer_under_email label{
    color: #666666;
    font-style: italic;
    font-size: 12px;
    margin: -8px 0 22px;
}
.form-group-customer_under_email > div{
    display: none;
}

#simplecheckout_payment .simplecheckout-block-content{
    padding: 0;
}

#simplecheckout_payment .simplecheckout-block-content label{
    line-height: 24px;
}
#shipping_address_city {
    color: #62c081;
    text-decoration: underline;
}

.simplecheckout .ulogin_form{
    padding: 15px 15px 35px 0;
    margin-left: 0;
}

.account-simpleregister #simplepage_form{
    width: 100%;
    float: left;
}

.cart-toogle-bt-curier{
    padding: 0 15px 30px 15px;
    text-align: center;
    width: 66%;
    float: right;
    display: none;
}
.cart-toogle-bt-curier a{
    display: inline;
    color: #62c081;
}
.cart-toogle-bt-curier a#checkoutshow{
    display: none;
}

.simplecheckout .btitle{
    font-size: 18px;
    font-weight: 600;
    color: #070707;
    padding-bottom: 30px;
    margin: 0;
}
#shipping_address_address_1{
    min-height: 100px;
}
#simplecheckout_payment .simplecheckout-block-content{
    width: 90%;
    float: right;
    text-align: left;
}
#simplecheckout_payment .btitle {
    font-size: 18px;
    font-weight: 600;
    color: #070707;
    padding-bottom: 30px;
    margin: 0;
}
#simplecheckout_payment .checkbox, #simplecheckout_payment  .radio, #simplecheckout_payment p  {
    margin: 0;
}
#simplecheckout_payment  .radio label{
    font-weight: bold;
}

#simplecheckout_comment{
    float: left;
    width: 100%;
}
#simplecheckout_comment .name{
    float: left!important;
    padding: 0 15px;
    width: 33.33%;
    color: #000;
    font-weight: normal;

}
 @media screen and (min-width: 768px) {
     #simplecheckout_comment .name {
         text-align: right;
     }

 }
#simplecheckout_comment .value{
    float: left;
    padding: 0 15px;
    width: 66.66%;
    padding-right: 10px;
}
.form-group.payment-code-rficb label{
    width: 100%;
    float: right;
}
.online_payment_logo_list{
    float: right;
    padding: 0 0 30px 0;
}
.simplecheckout-button-block.buttons.checkout-form{
    width: 50%;
    text-align: right;
    padding: 30px 0 0 0;
}
.simplecheckout-button-block.buttons.checkout-form.width-100{
    width: 100%;
}
.simplecheckout-button-block.buttons.checkout-form .simplecheckout-button-left{
    float: left;
}
.simplecheckout-right-column{
    padding: 0 30px;

}
.simplecheckout-right-column .checkout-list {
    margin-right: 0;
}
.simplecheckout-right-column .checkout-list h4{
    padding: 15px 0;
}

#simplecheckout_payment_address .form-group-payment_address_newsletter .payment_address_newsletter{
    display: none!important;
}
.simplecheckout-block input, .simplecheckout-block textarea, .simplecheckout-block select {
    -webkit-border-radius: 0;
    -moz-border-radius: 0;
    -ms-border-radius: 0;
    -o-border-radius: 0;
    border-radius: 0;
    border: solid 1px #d1d1d1;
    display: block;
    line-height: 20px;
    -webkit-box-sizing: border-box;
    -moz-box-sizing: border-box;
    box-sizing: border-box;
    outline: 0;
    padding: 0 11px;
    font-size: 14px!important;
    color: #666666;
    width: 100%;
    height: 46px;
}

.simplecheckout-block input.form-control:focus{
    border-color: #66afe9;
    outline: 0;
    -webkit-box-shadow: inset 0 1px 1px rgba(0, 0, 0, .075), 0 0 8px rgba(102, 175, 233, .6);
    box-shadow: inset 0 1px 1px rgba(0, 0, 0, .075), 0 0 8px rgba(102, 175, 233, .6);
}


#simplecheckout_payment_address  .checkbox input[type="checkbox"] {
    top: 5px;
}

#simplecheckout_text_agreement{
    display: none;
}

@media screen and (max-width: 1000px) {
    #simplecheckout_comment{
        padding: 0 0 30px 0;
    }
}

@media screen and (max-width: 767px) {
.simplecheckout-button-block.buttons.checkout-form{
    width: 100%;
    padding: 30px 0;
    text-align: center;


}
    #simplecheckout_comment .name {
        width: 100%;
        font-weight: normal;
    }
    #simplecheckout_comment .value {
        width: 100%;
    }
}

.simplecheckout-block-curier{
    width: 50%;
    border-radius: 5px;
    padding: 0px;
}
#simplecheckout_customer{
    background-color: #ffffff;
    border: solid 1px #d6d6d6;
    padding: 30px;
    border-top:0 ;
    border-bottom:0 ;
}
#simplecheckout_customer.simplecheckout-block-border {
    border: solid 1px #d6d6d6;
}
#simplecheckout_customer.simplecheckout_customer-login{
    border-bottom: solid 1px #d6d6d6; ;
}

.simple-tabs{
    height: 40px;
    width: 100%;
    float: left;
    background: #fbfbfb;

}
.simple-tab{
    width: 50%;
    height: 40px;
    border-radius: 5px 5px 0 0;
    border: solid 1px #d6d6d6;
    float: left;
    background: #efefef;
    font-size: 14px;
    font-weight: 600;
    color: #000000;
    text-align: center;
    line-height: 40px;
    cursor: pointer;

}
.simple-tab.active{
    border-bottom: 1px solid #FFF;
    background: #fff;
}

#simplecheckout_customer h4{
    font-size: 14px;
    color: #404040;
    font-weight: normal;
    padding: 5px 10px;
    text-align: left;
}
#simplecheckout_customer .control-label{
    display: none!important;
}
#simplecheckout_customer  .simplecheckout-block-content{
    padding: 0;
    margin: 0 -15px;
}
#simplecheckout_customer #simplecheckout_login .simplecheckout-block-content {
    padding: 0;
    margin: 0;
}

#simple_login_header{
    display: none;
}

#simplecheckout_customer  .form-group {
    margin: 0!important;
    padding-top: 15px;
    padding-bottom: 15px;
    float: left;
    width: 100%;
}
#simplecheckout_customer  .col-sm-8{
    width: 100%;
}


#simplecheckout_customer  .form-group.form-group-customer_lastname{
    float: left;
    width: 50%;
    margin: 0!important;
}



.form-group-customer_lastname .col-sm-8{
    width: 100%;
}
#simplecheckout_customer  .form-group.form-group-customer_firstname{
    float: left;
    width: 50%;
    margin: 0!important;
}
 @media screen and (max-width: 479px) {
     #simplecheckout_customer .form-group.form-group-customer_lastname, #simplecheckout_customer .form-group.form-group-customer_firstname {
         width: 100%;
     }
     .simple-tab {
         font-size: 12px;
     }
 }

.form-group-customer_firstname .col-sm-8{
    width: 100%;
}

.form-group-customer_email{
    float: left;
    width: 100%;
}

#simplecheckout_payment_address{
    width: 50%;
    padding: 0px;
    background-color: #ffffff;
    border: solid 1px #d6d6d6;
    border-top:0 ;
}
 @media screen and (max-width: 900px) {
     #simplecheckout_payment_address {
         width: 100%;
     }
 }
.simplecheckout-info-text{
    border-bottom: 1px dashed #d1d1d1;
    padding: 5px 15px 20px 15px;
    margin-bottom: 0px;
    text-align: left;

}
#simplecheckout_payment_address .simplecheckout-block-content{
    padding: 0 0;
}
.form-group-payment_address_newsletter, #agreement_checkbox{
    float: left;
    width: 100%;
    margin: 0!important;
    padding: 0 30px 20px 30px;
}

.form-group-payment_address_newsletter .col-sm-8{
    width: 100%;
    float: left;
    padding: 0;
}
.form-group-payment_address_newsletter .checkbox label, #agreement_checkbox label{
    padding: 0 0 0 45px;
    position: relative;
}
.form-group-payment_address_newsletter .checkbox  input, #agreement_checkbox input{
     display: none;
}
.form-group-payment_address_newsletter .checkbox label:before, #agreement_checkbox label:before{
    content: '';
    width: 22px;
    height: 22px;
    border: 1px solid #d6d6d6;
    position: absolute;
    left: 0;
    top: 10px;

}
.form-group-payment_address_newsletter .checkbox input[type="checkbox"]:checked + label:before, #agreement_checkbox input[type="checkbox"]:checked + label:before {
    border: solid 1px #62c081;
}
.form-group-payment_address_newsletter .checkbox input[type="checkbox"]:checked + label:after, #agreement_checkbox input[type="checkbox"]:checked + label:after {
    font-family: 'icomoon';
    position: absolute;
    left: 0;
    top: 10px;
    content: "\e912";
    font-size: 22px;
    color:  #62c081;
}
.fastcheckout-curier{
    float: left;
    width: 100%;
    height: 47px;
    background-color: #eeeeee;
    border-top: solid 1px #d6d6d6;
    font-size: 15px;
    font-weight: 600;
    color: #303030;
    text-align: center;
    line-height: 43px;

}
.fastcheckout-curier button{
    font-size: 15px;
    font-weight: 600;
    color: #303030;
}
.fastcheckout-curier button span{
    border-bottom: 1px dashed #000;
    padding: 0 5px;

 }
.fastcheckout-curier button i{
    padding-right: 15px;
    font-size: 19px;
}.fastcheckout-curier button:hover span{
    border-bottom: 0px dashed #000;

 }

 .bt-prev-step-3, .bt-prev-step-2{
background: none;
     box-shadow: none;
     color: #000;
     border: 0;
     cursor: pointer;
     line-height: 42px;
 }
.bt-prev-step-3 i, .bt-prev-step-2 i {
padding-right: 15px;
}
.bt-prev-step-3 span, .bt-prev-step-2 span{
    border-bottom: 1px dashed #000;
}
.bt-prev-step-3:hover span, .bt-prev-step-2:hover span {
border: 0;
    background: none;
    box-shadow: none;
    color: #000;
    border: 0;
}
.btn-next{
    background: #62c081;
    display: inline-block;
    height: 50px;
    -webkit-border-radius: 5px;
    -moz-border-radius:  5px;
    -ms-border-radius:  5px;
    -o-border-radius:  5px;
    border-radius:  5px;
    line-height: 48px;
    padding: 0 30px;
    font-size: 18px;
    font-weight: 600;
    color: #ffffff;
    text-transform: uppercase;
}
.btn-next:hover {
    color: #fff;
    opacity: .85;
}
.btn-next i {
padding-left: 15px;
}

#simplecheckout_cart .checkout-list {
    width:100%;
    background: #ffffff;
    padding: 0px 10px 0;
    border: solid 1px #d6d6d6;
    -webkit-border-radius: 0px;
    -moz-border-radius: 0px;
    -ms-border-radius: 0px;
    -o-border-radius: 0px;
    border-radius: 0px;
    overflow: hidden;
    color: #000000;
    margin-right: 0;
}
#simplecheckout_cart  .checkout-list .cart-items-wrapper {
    padding: 0px 0 0;
}
#simplecheckout_cart .checkout-list .cart-items-wrapper .cart-item {
    margin-right: 0;
    width: 100%;
    padding: 10px 0;
    border: none;
    margin: 0;
}
#simplecheckout_cart .checkout-list .cart-items-wrapper .cart-item + .cart-item {
    border-top: 1px dashed #f2f2f2;
}
#simplecheckout_cart  .cart-items-wrapper .image {
    width: 20%;
    float: left;
    height: auto;
    margin-top: 0px;
    text-align: center;
    border: 0px solid #f2f2f2;
    overflow: hidden;
    -webkit-border-radius: 0px;
    -moz-border-radius:  0px;
    -ms-border-radius: 0px;
    -o-border-radius: 0px;;
    border-radius:  0px;
}

#simplecheckout_cart  .cart-items-wrapper .image img {
    border: 1px solid #f2f2f2;
}
#simplecheckout_cart  .cart-item-info{
    float: left;
    width: 40%;
    margin: 0;
}
#simplecheckout_cart .cart-items-wrapper .cart-item-info .name a {
    font-size: 16px;
    font-weight: 600;
    line-height: 1.5;
    color: #3a3e49;
    border-bottom: 1px dashed #3a3e49;
}
#simplecheckout_cart .cart-items-wrapper .cart-item-info .name a:hover {
    border-bottom: 1px dashed #fff;
}
#simplecheckout_cart  .cart-items-wrapper .price-count .bootstrap-touchspin {
    text-align: center;
    position: relative;
    width: 100%;
}
#simplecheckout_cart .cart-items-wrapper .price-count .bootstrap-touchspin-up, #simplecheckout_cart .cart-items-wrapper .price-count .bootstrap-touchspin-down {
    width: 38px;
    height: 38px;
    border-radius: 4px;
    background-color: #62c081;
    color: #ffffff;
}


#simplecheckout_cart  .cart-items-wrapper .cart-item-info .options {
    padding: 10px 0 5px 0;
    font-size: 16px;
    font-weight: 600;
    line-height: 1.5;
    color: #3a3e49;
}
#simplecheckout_cart  .price-count{
    float: left;
    width: 40%;
}
#simplecheckout_cart  .price-count .price-value-curier{
    float: left;
    width: 25%;
}
#simplecheckout_cart  .price-count .quantity{
    float: left;
    width: 50%;
}
#simplecheckout_cart  .cart-items-wrapper .price-count .bootstrap-touchspin {
    text-align: center;
    position: relative;
    width: 100%;
}
#simplecheckout_cart .cart-items-wrapper .price-count .bootstrap-touchspin-up, #simplecheckout_cart .cart-items-wrapper .price-count .bootstrap-touchspin-down {
    width: 38px;
    height: 38px;
    border-radius: 4px;
    background-color: #62c081;
    color: #ffffff;
}

#simplecheckout_cart .cart-items-wrapper .price-count input.counter {
    text-align: center;
    height: 38px;
    border-radius: 4px;
    border: 1px solid  #eeeeee;
}
#simplecheckout_cart  .price-count .price-value-total{
    float: left;
    width: 25%;
}
#simplecheckout_cart .price-text{
    padding: 0 15px;
    text-align: center;
}
.shipping_promo{
    float: left;
    width: 100%;
    padding:20px 15px 0 15px;
    font-size: 14px;
    font-weight: 600;
    color: #db1215;
    text-align: right;
}
.shipping_promo i {
    border-radius: 8px;
    width: 16px;
    height: 16px;
    background: #b3b3b3;
    position: relative;
    text-align: center;
    display: inline-block;
    margin: 2px 2px 0 10px;
    float: right;
}
.shipping_promo i:before {
    content: '?';
    color: #fff;
    font-size: 12px;
    position: absolute;
    margin: 0 auto;
    left:0;
    right: 0;
    top: -2px;
    font-style: normal;

}
.total-curier{
    float: right;
    width: 347px;
    border: solid 1px #d6d6d6;
    margin-top: -1px;
}
.total-curier div {
padding: 13px 50px;
    font-weight: 600;
    color: #000000;
}
.total-curier div.row-2{
    background-color: #eeeeee;
}
.total-curier div.row-1{
    background-color: #fff;
}
.simplecheckout-cart-total-value{
    float: right;
    font-size: 18px;
    font-weight: 600;
    color: #000000;
}
.simplecheckout-step{
    float: left;
    width: 100%;
}
#simplecheckout_shipping_address,  #simplecheckout_payment{
    float: left;
    width: 50%;
    clear: inherit;
    padding-right: 30px;
}
.simplecheckout-left-column #simplecheckout_shipping_address, .simplecheckout-right-column #simplecheckout_payment, .simplecheckout-left-column #simplecheckout_comment{
    float: left;
    width: 100%;
    clear: inherit;
    padding-right: 30px;
}
.create-order-curier{
    padding-right: 280px;
}
#button-confirm{
    height: 50px;
    border-radius: 10px;
    background-image: linear-gradient(to bottom, #f09209, #f44a00);
    box-shadow: 0 2px 4px 0 rgba(114, 41, 32, 0.61);
    border-style: solid;
    border-width: 2px;
}

.container-fast-checkout{
    width: 450px;
    position: relative;
    margin: 0 auto;
    margin-top: 50px;
    background: #fff;
    border-radius: 5px;
    border: 1px solid  #eeeeee;
    -webkit-box-shadow: 0px 2px 2px #DDDDDD;
    -moz-box-shadow: 0px 2px 2px #DDDDDD;
    box-shadow: 0px 2px 2px #DDDDDD;
    padding: 15px;
}
 @media screen and (max-width: 479px) {
 .container-fast-checkout{
     width: 300px;
 }
 }


.container-fast-checkout .well, .fast-none, .block-8, .block-9, .block-11 > .shiptobilling, .block-11 > .shipping-address, .block-11 > .shipping-method{
    display: none;
}
.container-fast-checkout h2{
    font-weight: 500;
    text-align: center;
}
.block-1 h3 {
    padding: 5px 30px;
    text-align: center;
    font-weight: 500;

}
.container-fast-checkout  .text-danger {
    color: #a94442;
    font-size: 11px;
}
.container-fast-checkout  input[type="text"], .container-fast-checkout  input[type="password"], .container-fast-checkout  input[type="date"], .container-fast-checkout  input[type="tel"], .container-fast-checkout  input[type="email"], .container-fast-checkout  textarea, .container-fast-checkout  select {
    padding: 8px 20px;

}

@media screen and (max-width: 1000px) {


    .simple-step {
        width: 210px;

    }

    #simplecheckout_cart .price-text {
        display: none;
    }

}

@media screen and (max-width: 900px) {
    .simplecheckout-button-block.buttons.checkout-form {
        width: 100%;
    }
    .simplecheckout-block-curier {
        width: 100%;
    }

}

@media screen and (max-width: 767px) {
    #simplecheckout_step_menu {
        display: none;
    }
    .simple-step {
        width: 185x;
    }
    #simplecheckout_cart .cart-items-wrapper .image {
        width: 50%;
        margin: 0 auto;
        float: none;

    }

    #simplecheckout_cart .cart-item-info, #simplecheckout_cart .price-count {
        width: 100%;
    }
    #simplecheckout_cart .price-count .quantity {
        text-align: center;
    }
    #simplecheckout_cart  .cart-items-wrapper .price-count .items-count {
        width: 138px;
        margin: 0 auto;
        float: none;
    }
    #simplecheckout_cart .price-text {
        display: inline-block;
    }
    #simplecheckout_shipping_address, #simplecheckout_payment {
        width: 100%;
    }
    .create-order-curier {
        padding-right: 0;
    }


}
@media screen and (max-width: 600px) {
.simplecheckout-button-block.buttons.checkout-form .simplecheckout-button-left {
    width: 100%;
}
    .simplecheckout-button-right {
        float: right;
        width: 100%;
        padding-top: 30px;
        text-align: left;
    }
}


@media screen and (max-width: 479px) {
    #simplecheckout_cart .price-count .price-value-curier {
        display: none;
    }
    #simplecheckout_cart .price-count .price-value-total {
        width: 50%;
        line-height: 40px;
    }
    .total-curier {
        width: 100%;

    }

    .simplecheckout-button-block.buttons.checkout-form {
        padding: 30px 0;
    }
    .simplecheckout-button-right{
        width: 100%;
    }
    .btn-next {
        font-size: 14px;
    }
}
 .col-politician{
     font-size: 10px;
     float: left;
 }
 #agreement_checkbox{
     display: none!important;
 }