@font-face{font-family:'icomoon';src:url('fonts/icomoon.eot?abv2bd');src:url('fonts/icomoon.eot?abv2bd#iefix') format('embedded-opentype'),
url('fonts/icomoon.ttf?abv2bd') format('truetype'),
url('fonts/icomoon.woff?abv2bd') format('woff'),
url('fonts/icomoon.svg?abv2bd#icomoon') format('svg');font-weight:normal;font-style:normal;}
[class^="icon-"], [class*=" icon-"]{font-family:'icomoon' !important;speak:none;font-style:normal;font-weight:normal;font-variant:normal;text-transform:none;line-height:1;-webkit-font-smoothing:antialiased;-moz-osx-font-smoothing:grayscale;}
.icon-double-angle-pointing-to-right3:before{content:"\e907";color:#fff;}
.icon-delivery-truck2:before{content:"\e906";color:#62c081;}
.icon-delivery-truck(1):before{content:"\e905";color:#62c081;}
.icon-%:before{content:"\e900";}
.icon-%2:before{content:"\e901";}
.icon-label:before{content:"\e902";color:#62c081;}
.icon-wallet:before{content:"\e903";color:#62c081;}
.icon-medal:before{content:"\e904";color:#62c081;}
.icon-double-angle-pointing-to-right_2:before{content:"\e90d";}
.icon-checked:before{content:"\e912";}
.icon-double-angle-pointing-to-right:before{content:"\e91c";}
.icon-pet-food-1:before{content:"\e91d";}
.icon-pet-food:before{content:"\e91e";}
.icon-weight-scale_7:before{content:"\e91f";}
.icon-icon_2:before{content:"\e920";}
.icon-sitting-dog:before{content:"\e921";}
.icon-feeding-bottle:before{content:"\e922";}
.icon-pet-food-2:before{content:"\e923";}
.icon-bones:before{content:"\e924";}
.icon-group-2:before{content:"\e925";}
.icon-x:before{content:"\e926";}
.icon-close-envelope:before{content:"\e927";}
.icon-skype-logo:before{content:"\e928";}
.icon-triangle_3:before{content:"\e929";}
.icon-fill-1_7:before{content:"\e92a";}
.icon-placeholder-2:before{content:"\e92b";}
.icon-menu-symbol-of-three-parallel-lines-1:before{content:"\e92c";}
.icon-triangle:before{content:"\e92d";}
.icon-weight-scale:before{content:"\e92e";}
.icon-empty-shopping-cart:before{content:"\e92f";}
.icon-icon:before{content:"\e930";}
.icon-key-silhouette-security-tool-interface-symbol-of-password:before{content:"\e931";}
.icon-left-arrow:before{content:"\e932";}
.icon-contacts-agenda:before{content:"\e933";}
.icon-delivery-truck:before{content:"\e934";color:#62c081;}
.icon-dollar-symbol:before{content:"\e935";}
.icon-magnifying-glass:before{content:"\e936";}